Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

feat(frame): 增加选择主题接口 (#747)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/model/FXSamplerTheme.java
  frame/src/main/java/com/tlcsdm/frame/service/FXSamplerConfiguration.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeConfigurationProvider.java
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/provider/SmcConfigurationProvider.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
Labels: frame, smc, qe

feat(frame): 新增菜单缓存
  frame/pom.xml
  frame/src/main/java/com/tlcsdm/frame/config/SampleTreeCache.java
  frame/src/main/java/module-info.java
Labels: frame, dependencies

feat(frame): 接口权限控制
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBooleanBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
Labels: frame, smc, core

feat(frame): 接口权限控制 (#750)
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBooleanBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
Labels: frame, smc, core

feat(frame): 接口权限控制 (#750)
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBooleanBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
Labels: frame, smc, core

build: 依赖配置修改
  frame/pom.xml
Labels: frame, dependencies

chore: Add commons-csv
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

test: Add CsvTest
  core/src/test/java/com/tlcsdm/core/util/CsvTest.java
Labels: core, test

chore: Add commons-csv (#752)
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/test/java/com/tlcsdm/core/util/CsvTest.java
  docs/README.md
  pom.xml
Labels: core, test, documentation, dependencies

chore: Add commons-csv (#752)
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/test/java/com/tlcsdm/core/util/CsvTest.java
  docs/README.md
  pom.xml
Labels: core, test, documentation, dependencies

feat(smc): SpecGeneralTest UI使能条件优化
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc

build: 修改linter检查规则
  .github/linters/sun_checks.xml
Labels: workflow

fix: 指摘修复
  .github/linters/sun_checks.xml
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc, workflow

feat(smc): SpecGeneralTest UI使能条件优化 (#754)
  .github/linters/sun_checks.xml
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc, workflow

feat(smc): SpecGeneralTest UI使能条件优化 (#754)
  .github/linters/sun_checks.xml
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc, workflow

feat(qe): js/css压缩
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
Labels: core, qe, dependencies

feat(qe): js/css压缩
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
Labels: qe, dependencies

feat: jackson替换hutool-json
  common/src/main/java/module-info.java
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/tool/GithubApiTest.java
  qe/pom.xml
Labels: core, qe, common, test, dependencies

feat(smc): specGeneral使能条件优化，功能优化
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc

feat(smc): specGeneral使能条件优化，功能优化 (#757)
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc

feat(smc): specGeneral使能条件优化，功能优化 (#757)
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc

feat: hutool-json由jackson替换
  core/pom.xml
  core/src/test/java/com/tlcsdm/core/util/GithubApiTest.java
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: smc, core, qe, test, dependencies

feat: hutool-json由jackson替换
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
Labels: core

feat: jackson替换hutool-json (#756)
  common/src/main/java/module-info.java
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/GithubApiTest.java
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: smc, core, qe, common, test, dependencies

feat: jackson替换hutool-json (#756)
  common/src/main/java/module-info.java
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/GithubApiTest.java
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: smc, core, qe, common, test, dependencies

chore: 依赖更新
  core/pom.xml
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

chore: 依赖更新 (#758)
  core/pom.xml
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

chore: 依赖更新 (#758)
  core/pom.xml
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

chore: 依赖更新
  qe/pom.xml
Labels: qe, dependencies

chore: 依赖更新 (#759)
  qe/pom.xml
Labels: qe, dependencies

chore: 依赖更新 (#759)
  qe/pom.xml
Labels: qe, dependencies

chore: 依赖更新
  common/src/main/java/module-info.java
Labels: common

docs: 补充注释
  frame/src/main/java/com/tlcsdm/frame/config/SampleTreeCache.java
Labels: frame

feat: 缓存工厂实现
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCache.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
  frame/src/main/java/com/tlcsdm/frame/cache/impl/CaffeineSimpleCache.java
  frame/src/main/java/com/tlcsdm/frame/cache/impl/SimpleSampleCache.java
Labels: frame

feat: 对UI进行缓存
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCache.java
  frame/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeCenterPanelProvider.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcCenterPanelProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: frame, smc, qe, dependencies

fix: 指摘对应
  .github/linters/sun_checks.xml
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
Labels: frame, workflow

feat(frame): 新增菜单缓存 (#748)
  .github/linters/sun_checks.xml
  frame/pom.xml
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCache.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
  frame/src/main/java/com/tlcsdm/frame/cache/impl/CaffeineSimpleCache.java
  frame/src/main/java/com/tlcsdm/frame/cache/impl/SimpleSampleCache.java
  frame/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeCenterPanelProvider.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcCenterPanelProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: frame, smc, qe, workflow, dependencies

feat(frame): 新增菜单缓存 (#748)
  .github/linters/sun_checks.xml
  frame/pom.xml
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCache.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
  frame/src/main/java/com/tlcsdm/frame/cache/impl/CaffeineSimpleCache.java
  frame/src/main/java/com/tlcsdm/frame/cache/impl/SimpleSampleCache.java
  frame/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeCenterPanelProvider.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcCenterPanelProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: frame, smc, qe, workflow, dependencies

feat: UI创建
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/compress.fxml
Labels: core, qe, dependencies

feat: 新增hasClass方法
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
Labels: frame, core

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]
