Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

feat(smc): 修改ecm脚本处理
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
Labels: smc

feat: update licenseDialog
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
Labels: core, qe

feat(smc): Add groovy
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.groovy.GroovyLoaderService
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
Labels: smc, qe, dependencies

feat: Ecm脚本修改 (#671)
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.groovy.GroovyLoaderService
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
Labels: smc, core, qe, dependencies

feat: Ecm脚本修改 (#671)
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.groovy.GroovyLoaderService
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
Labels: smc, core, qe, dependencies

feat(smc): 新增帮助文档
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  docs/README.md
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/module-info.java
Labels: smc, core, documentation, i18ns

feat(smc): 新增帮助文档 (#672)
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  docs/README.md
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/module-info.java
Labels: smc, core, documentation, i18ns

feat(smc): 新增帮助文档 (#672)
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  docs/README.md
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/module-info.java
Labels: smc, core, documentation, i18ns

build(smc): prepare for 1.0.6
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

build(smc): prepare for 1.0.6 (#674)
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

build(smc): prepare for 1.0.6 (#674)
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

fix(core): 修改simpleHttpServer
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
Labels: core

fix(core): 修改simpleHttpServer (#675)
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
Labels: core

fix(core): 修改simpleHttpServer (#675)
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
Labels: core

chore: Add preferencesfx
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

bot: Update Contributors
  CONTRIBUTORS.md
Labels: none

feat: Upgrade pdfbox
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

feat: Upgrade pdfbox (#685)
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
  pom.xml
Labels: core, documentation, dependencies

fix(core): 修复CoreUtil.getRootPath()问题
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
Labels: core

fix(core): 修复CoreUtil.getRootPath()问题 (#686)
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
Labels: core

fix(core): 修复CoreUtil.getRootPath()问题 (#686)
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
Labels: core

fix(core): 修复groovy路径扫描错误的问题
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
Labels: smc, core, qe

chore: modify preferencesfx
  frame/pom.xml
  pom.xml
Labels: frame, dependencies

chore: modify preferencesfx (#688)
  frame/pom.xml
  pom.xml
Labels: frame, dependencies

feat: Add testfx
  pom.xml
  qe/pom.xml
  qe/src/test/java/com/tlcsdm/qe/tools/ClickableButtonTest_JUnit5AssertJ.java
Labels: qe, test, dependencies

chore: 依赖修改
  pom.xml
Labels: dependencies

chore: 依赖修改
  core/pom.xml
  frame/pom.xml
  pom.xml
Labels: frame, core, dependencies

fix: 修复url赋值问题
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
Labels: smc, core, qe

fix(core): 修复groovy路径扫描错误的问题 (#687)
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
Labels: smc, core, qe

fix(core): 修复groovy路径扫描错误的问题 (#687)
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
Labels: smc, core, qe

style: 修改样式
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenColorPickerStage.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenshotStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/OSUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/PaintConvertUtil.java
  core/src/test/java/com/tlcsdm/core/util/CaffeineTest.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.fxml
  qe/src/main/resources/com/tlcsdm/qe/static/icon/lighting.svg
Labels: core, qe, test

feat(smc): ecm重构
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/c1m.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2a.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2c.groovy
Labels: smc

feat(smc): ecm u2a重构
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2a.groovy
Labels: smc

feat(smc): ecm u2c重构
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2a.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2c.groovy
Labels: smc

feat(smc): ecm 描述完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: smc, i18ns

feat(smc): ecm UI设计完善
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/c1m.groovy
Labels: smc, core, i18ns

feat(smc): ecm UI设计完善
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
Labels: smc, core, i18ns

feat(smc): ecm UI设计完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc

feat(smc): ECM重构 (#691)
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/c1m.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2a.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2c.groovy
Labels: smc, core, i18ns

feat(smc): ECM重构 (#691)
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/c1m.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2a.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2c.groovy
Labels: smc, core, i18ns

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]
