Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]

test: girret解析json的测试
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
  smc/src/test/resources/girret/changes.json
  smc/src/test/resources/girret/comments.json
Labels: smc, test

test: jackson测试
  smc/src/main/java/module-info.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
Labels: smc, test

feat: JacksonUtil增强
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
Labels: smc, core, test

feat: 去除hutool-json
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/module-info.java
Labels: frame, smc, dependencies

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

feat: 优雅输出json
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
Labels: smc, core, test

feat(smc): 增强执行过程
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: frame, smc, core

feat(smc): girret工具bug修复 (#765)
  .github/workflows/maven.yml
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/test/java/com/tlcsdm/core/util/StringTokenizerTest.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Change.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Comment.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/CommentRange.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Owner.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/java/module-info.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
  smc/src/test/resources/girret/changes.json
  smc/src/test/resources/girret/comments.json
Labels: frame, smc, core, test, workflow, dependencies

feat(smc): girret工具bug修复 (#765)
  .github/workflows/maven.yml
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/test/java/com/tlcsdm/core/util/StringTokenizerTest.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Change.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Comment.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/CommentRange.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Owner.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/java/module-info.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
  smc/src/test/resources/girret/changes.json
  smc/src/test/resources/girret/comments.json
Labels: frame, smc, core, test, workflow, dependencies

feat(core): ProgressStage增加高斯模糊效果
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
Labels: core

feat(core): ProgressStage增加高斯模糊效果 (#769)
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
Labels: core

feat(core): ProgressStage增加高斯模糊效果 (#769)
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
Labels: core

feat(qe): 补充compress的说明
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
Labels: qe

feat(qe): 新增htmlcompress依赖
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
Labels: core, qe, dependencies

feat(frame): 优化启动动画时的托盘图标
  core/src/main/java/com/tlcsdm/core/javafx/FxApp.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(frame): 优化启动动画时的托盘图标 (#772)
  core/src/main/java/com/tlcsdm/core/javafx/FxApp.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(frame): 优化启动动画时的托盘图标 (#772)
  core/src/main/java/com/tlcsdm/core/javafx/FxApp.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(common): 新增DataFormatConvert工具
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/data.png
Labels: common

feat(core): 下雪动画
  core/src/main/java/com/tlcsdm/core/javafx/dialog/SnowApp.java
  core/src/main/resources/com/tlcsdm/core/static/graphic/flake.png
  core/src/main/resources/com/tlcsdm/core/static/graphic/snow_bg.jpg
Labels: core

fix(core): 修复导入设置取消时的异常重启
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlHelper.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe

fix(core): 修复导入设置取消时的异常重启 (#777)
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlHelper.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe

fix(core): 修复导入设置取消时的异常重启 (#777)
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlHelper.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe

feat(frame): 隐藏闪屏的托盘图标
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

feat(frame): 隐藏闪屏的托盘图标 (#779)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

feat(frame): 隐藏闪屏的托盘图标 (#779)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

feat(frame): 接口重命名
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
Labels: frame, qe

feat(frame): 接口重命名 (#780)
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
Labels: frame, qe

feat(frame): 接口重命名 (#780)
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
Labels: frame, qe

feat(qe): 更换启动logo
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: qe

feat(qe): 更换启动logo (#781)
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: qe

feat(qe): 更换启动logo (#781)
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: qe

fix(frame): 修复mac arm环境下隐藏失败的问题
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

fix(frame): 修复mac arm环境下隐藏失败的问题 (#783)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

fix(frame): 修复mac arm环境下隐藏失败的问题 (#783)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

feat(qe): 调整动画UI
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: qe

feat(qe): 调整动画UI (#784)
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: qe

feat(qe): 调整动画UI (#784)
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: qe

chore: htmlcompressor依赖配置
  core/pom.xml
  core/src/main/java/module-info.java
Labels: core, dependencies

feat(common): common模块设计修改
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  qe/pom.xml
  smc/pom.xml
Labels: smc, qe, common, dependencies
