Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]

build: linter工作流优化
  .github/workflows/linter.yml
Labels: workflow

feat(core): 新增ScreenColorPickerHideWindow配置 (#734)
  .github/workflows/linter.yml
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenColorPickerStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/view/SystemSettingView.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, workflow, i18ns

feat(core): 新增ScreenColorPickerHideWindow配置 (#734)
  .github/workflows/linter.yml
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenColorPickerStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/view/SystemSettingView.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, workflow, i18ns

build: linter工作流优化
  .github/workflows/linter.yml
Labels: workflow

build: lint工作流修改
  .github/workflows/linter.yml
Labels: workflow

build: lint工作流修改
  .github/workflows/linter.yml
Labels: workflow

build: linter工作流优化
  .github/linters/.markdown-lint.yml
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow

build: linter工作流优化 (#736)
  .github/linters/.markdown-lint.yml
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow

build: linter工作流优化 (#736)
  .github/linters/.markdown-lint.yml
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow

build: mergify工作流更新
  .github/.mergify.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/linter.yml
Labels: workflow

build: mergify工作流更新 (#737)
  .github/.mergify.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/linter.yml
Labels: workflow

build: mergify工作流更新 (#737)
  .github/.mergify.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/linter.yml
Labels: workflow

build: mergify工作流更新
  .mergify.yml
Labels: none

build: suncheck工作流更新
  .github/linters/sun_checks.xml
Labels: workflow

build: mergify工作流更新 (#738)
  .github/linters/sun_checks.xml
  .mergify.yml
Labels: workflow

build: mergify工作流更新 (#738)
  .github/linters/sun_checks.xml
  .mergify.yml
Labels: workflow

build: suncheck工作流更新
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow

build: suncheck工作流更新
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow

build: suncheck工作流更新
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow

build: suncheck工作流更新
  .github/linters/sun_checks.xml
Labels: workflow

build: suncheck工作流更新
  .github/linters/sun_checks.xml
Labels: workflow

build: suncheck工作流更新
  .github/linters/sun_checks.xml
Labels: workflow

build: mergify工作流更新
  .mergify.yml
Labels: none

build: mergify工作流更新 (#741)
  .mergify.yml
Labels: none

build: mergify工作流更新 (#741)
  .mergify.yml
Labels: none

feat(qe): dali config添加
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
Labels: qe

feat(qe): dali config添加
  .github/linters/sun_checks.xml
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
Labels: qe, workflow

feat(qe): dali config添加
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
Labels: qe

feat(qe): dali config添加
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
Labels: qe

feat(qe): 完善demo
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc, core, qe

build: 工作流更新
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
Labels: core, workflow

build: 格式化
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
Labels: core

build: 格式化
  .github/linters/sun_checks.xml
Labels: workflow

feat(qe): dali config添加 (#742)
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc, core, qe, workflow

feat(qe): dali config添加 (#742)
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc, core, qe, workflow

feat(frame): 增加选择主题接口
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/model/FXSamplerTheme.java
  frame/src/main/java/com/tlcsdm/frame/service/FXSamplerConfiguration.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeConfigurationProvider.java
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/provider/SmcConfigurationProvider.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
Labels: frame, smc, qe

fix(frame): 指摘修复
  frame/src/main/java/com/tlcsdm/frame/model/FXSamplerTheme.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeConfigurationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcConfigurationProvider.java
Labels: frame, smc, qe

fix(frame): 指摘修复
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

fix(frame): 指摘修复
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

feat(frame): 增加选择主题接口 (#747)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/model/FXSamplerTheme.java
  frame/src/main/java/com/tlcsdm/frame/service/FXSamplerConfiguration.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeConfigurationProvider.java
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/provider/SmcConfigurationProvider.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
Labels: frame, smc, qe
