Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]

feat(smc): ecm 优化
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc

feat(smc): ecm 优化 (#692)
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc

feat(smc): ecm 优化 (#692)
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: smc

fix: 修复升级后api改动带来的问题
  core/src/test/java/com/tlcsdm/core/util/PdfboxTest.java
Labels: core, test

fix: 修复升级后api改动带来的问题
  core/src/test/java/com/tlcsdm/core/util/TabulaTest.java
Labels: core, test

feat(smc): Preferencesfx支持
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/menubar/preferences.png
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: smc, core, dependencies, i18ns

chore: Add preferencesfx (#678)
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/menubar/preferences.png
  docs/README.md
  pom.xml
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: smc, core, documentation, dependencies, i18ns

chore: Add preferencesfx (#678)
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/menubar/preferences.png
  docs/README.md
  pom.xml
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: smc, core, documentation, dependencies, i18ns

docs: 更新README
  README.md
  README_jp.md
  README_zh.md
Labels: documentation

docs: 更新README (#693)
  README.md
  README_jp.md
  README_zh.md
Labels: documentation

docs: 更新README (#693)
  README.md
  README_jp.md
  README_zh.md
Labels: documentation

style: Config代码结构优化
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenshotStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/JavaFxSystemUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/util/StageUtil.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: frame, smc, core, qe

style: Config代码结构优化 (#694)
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenshotStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/JavaFxSystemUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/util/StageUtil.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: frame, smc, core, qe

style: Config代码结构优化 (#694)
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenshotStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/JavaFxSystemUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/util/StageUtil.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: frame, smc, core, qe

build(smc): Prepare for 1.0.7
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

build(smc): Prepare for 1.0.7 (#695)
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

build(smc): Prepare for 1.0.7 (#695)
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

fix(core): 修复groovyCodeArea处理开头版权信息时堆栈溢出问题
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: core

fix(core): 修复groovyCodeArea处理开头版权信息时堆栈溢出问题 (#696)
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: core

fix(core): 修复groovyCodeArea处理开头版权信息时堆栈溢出问题 (#696)
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: core

build: 修改changelog工作流
  .github/workflows/changelog.yml
Labels: workflow

build: 修改changelog工作流 (#697)
  .github/workflows/changelog.yml
Labels: workflow

build: 修改changelog工作流 (#697)
  .github/workflows/changelog.yml
Labels: workflow

docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation

docs(changelog): Update release notes (#698)
  CHANGELOG.md
Labels: documentation

docs(changelog): Update release notes (#698)
  CHANGELOG.md
Labels: documentation

build: 修改工作流令牌
  .github/workflows/automerge.yml
  .github/workflows/contributors.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
  .github/workflows/stale.yml
Labels: workflow

build: 修改工作流令牌 (#699)
  .github/workflows/automerge.yml
  .github/workflows/contributors.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
  .github/workflows/stale.yml
Labels: workflow

build: 修改工作流令牌 (#699)
  .github/workflows/automerge.yml
  .github/workflows/contributors.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
  .github/workflows/stale.yml
Labels: workflow

fix(core): 修复LicenseDialog样式问题
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
Labels: core

fix(core): 修复LicenseDialog样式问题 (#701)
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
Labels: core

fix(core): 修复LicenseDialog样式问题 (#701)
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
Labels: core

feat(core): JavaCodeArea&GroovyCodeArea样式修改
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/JetBrainsMono-Regular.ttf
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: core

feat(core): JavaCodeArea&GroovyCodeArea样式修改 (#704)
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/JetBrainsMono-Regular.ttf
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: core

feat(core): JavaCodeArea&GroovyCodeArea样式修改 (#704)
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/JetBrainsMono-Regular.ttf
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: core

feat(core): preference view配置加载功能优化
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns

feat(core): preference view配置加载功能优化 (#706)
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns

feat(core): preference view配置加载功能优化 (#706)
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns

feat(core): groovyCodeArea 注释收缩样式
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(core): groovyCodeArea 注释收缩样式 (#708)
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core
