Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]

feat(core): groovyCodeArea 注释收缩样式 (#708)
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(frame): 闪屏重构，支持动画效果
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/event/SplashAnimFinishedEvent.java
  frame/src/main/java/com/tlcsdm/frame/service/SplashScreen.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_en.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_ja.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
  qe/src/main/java/module-info.java
  smc/src/main/java/module-info.java
Labels: frame, smc, qe, i18ns

feat(frame): 闪屏重构，支持动画效果
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/event/SplashAnimFinishedEvent.java
  frame/src/main/java/com/tlcsdm/frame/service/SplashScreen.java
Labels: frame

feat(frame): 闪屏重构，支持动画效果
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame

fear(frame): 启动动画支持
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: frame, qe

fear(frame): 启动动画支持 (#710)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: frame, qe

feat(frame): 闪屏功能支持动画效果 (#709)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/event/SplashAnimFinishedEvent.java
  frame/src/main/java/com/tlcsdm/frame/service/SplashScreen.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_en.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_ja.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
  qe/src/main/java/module-info.java
  smc/src/main/java/module-info.java
Labels: frame, smc, qe, i18ns

feat(frame): 闪屏功能支持动画效果 (#709)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/event/SplashAnimFinishedEvent.java
  frame/src/main/java/com/tlcsdm/frame/service/SplashScreen.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_en.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_ja.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
  qe/src/main/java/module-info.java
  smc/src/main/java/module-info.java
Labels: frame, smc, qe, i18ns

fix(frame): 修复启动图片关闭失败的问题
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  pom.xml
Labels: frame, dependencies

feat(smc): SmcSamplePostProcessorProvider获取树方法重构
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
Labels: smc

fix(frame): 修复启动图片关闭失败的问题 (#712)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  pom.xml
Labels: frame, dependencies

fix(frame): 修复启动图片关闭失败的问题 (#712)
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  pom.xml
Labels: frame, dependencies

feat(smc): 获取菜单树数据方法重构 (#713)
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
Labels: smc

feat(smc): 获取菜单树数据方法重构 (#713)
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
Labels: smc

feat(smc): 修改主题
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/dracula.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/skin/SmcSkin.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
Labels: frame, smc, qe

feat(smc): 菜单名称优化
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: smc, i18ns

feat(frame): 支持控制界面的宽度保留
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
Labels: frame, core

feat(smc): 修改主题 (#715)
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/dracula.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/skin/SmcSkin.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: frame, smc, core, qe, i18ns

feat(smc): 修改主题 (#715)
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/dracula.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/skin/SmcSkin.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: frame, smc, core, qe, i18ns

build(smc): Prepare for 1.0.8
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

build(smc): Prepare for 1.0.8 (#716)
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

build(smc): Prepare for 1.0.8 (#716)
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc

docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation

docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation

docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation

feat(smc): 修复按钮的国际化问题
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/PathWatchToolDialog.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe, i18ns

feat(smc): 修复按钮的国际化问题 (#719)
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/PathWatchToolDialog.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe, i18ns

feat(smc): 修复按钮的国际化问题 (#719)
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/PathWatchToolDialog.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe, i18ns

feat(core): Perferencesfx增强
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
Labels: core

feat: 版本描述更新
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

feat: 版本描述更新 (#726)
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

build: Update .mergify.yml
  .mergify.yml
Labels: none

build: Update .mergify.yml (#727)
  .mergify.yml
Labels: none

build: Update .mergify.yml (#727)
  .mergify.yml
Labels: none

build: Update .mergify.yml
  .mergify.yml
Labels: none

build: Update .mergify.yml (#730)
  .mergify.yml
Labels: none

build: Update .mergify.yml (#730)
  .mergify.yml
Labels: none

feat: 文档修改
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

feat: 文档修改 (#731)
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

feat(core): 新增ScreenColorPickerHideWindow配置
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenColorPickerStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/view/SystemSettingView.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns
