Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

feat(common): common模块设计修改 (#787)
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  qe/pom.xml
  smc/pom.xml
Labels: smc, qe, common, dependencies

feat(common): common模块设计修改 (#787)
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  qe/pom.xml
  smc/pom.xml
Labels: smc, qe, common, dependencies

chore: 移除htmlcompressor
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/module-info.java
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
Labels: core, qe, dependencies

feat(qe): 补充描述
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
Labels: qe, i18ns

fix(qe): 指摘对应
  .github/linters/sun_checks.xml
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
Labels: qe, workflow

feat(qe): 补充compress的说明 (#770)
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
Labels: core, qe, workflow, i18ns

feat(qe): 补充compress的说明 (#770)
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
Labels: core, qe, workflow, i18ns

feat(common): 依赖增加
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/config/CommonTemplateLoaderProvider.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/static/templates/license.ftl
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: smc, common, dependencies

feat(common): 依赖增加
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
Labels: common

build: Update maven.yml
  .github/workflows/maven.yml
Labels: workflow

build: Update maven.yml (#790)
  .github/workflows/maven.yml
Labels: workflow

build: Update maven.yml (#790)
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/dependabot.yml
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/dependabot.yml
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/dependabot.yml
  .github/workflows/maven.yml
Labels: workflow

feat: 版本号更新
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

feat: 版本号更新
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

build: 工作流更新
  .github/dependabot.yml
Labels: workflow

feat: 修改工作流
  .github/workflows/label.yml
  .mergify.yml
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/util/CommonConstant.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
Labels: frame, common, workflow

feat(common): 新增DataFormatConvert工具 (#773)
  .github/dependabot.yml
  .github/workflows/label.yml
  .mergify.yml
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/config/CommonTemplateLoaderProvider.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/util/CommonConstant.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/data.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/templates/license.ftl
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: frame, smc, common, workflow, dependencies

feat(common): 新增DataFormatConvert工具 (#773)
  .github/dependabot.yml
  .github/workflows/label.yml
  .mergify.yml
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/config/CommonTemplateLoaderProvider.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/util/CommonConstant.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/data.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/templates/license.ftl
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: frame, smc, common, workflow, dependencies

build: 修改工作流
  .github/workflows/contributors.yml
Labels: workflow

build: 修改工作流
  .github/workflows/stale.yml
Labels: workflow

build: 修改工作流
  .github/dependabot.yml
  .github/workflows/stale.yml
Labels: workflow

build: 修改工作流 (#798)
  .github/dependabot.yml
  .github/workflows/stale.yml
Labels: workflow

build: 修改工作流 (#798)
  .github/dependabot.yml
  .github/workflows/stale.yml
Labels: workflow

feat(common): 增加DataFormatConvert
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
Labels: common

feat: 排除依赖
  pom.xml
Labels: dependencies

bot: Update Contributors
  CONTRIBUTORS.md
Labels: none

feat: 方法提取
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FileChooserUtil.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
Labels: smc, core, common

feat: 更改可见性条件
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
Labels: common

feat: 开发暂缓
  common/src/main/java/com/tlcsdm/jfxcommon/CommonSample.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: smc, common

feat(common): 增加DataFormatConvert (#799)
  common/src/main/java/com/tlcsdm/jfxcommon/CommonSample.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FileChooserUtil.java
  pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: smc, core, common, dependencies

feat(common): 增加DataFormatConvert (#799)
  common/src/main/java/com/tlcsdm/jfxcommon/CommonSample.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FileChooserUtil.java
  pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: smc, core, common, dependencies

build: prepare for release
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/META-INF/MANIFEST.MF
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc, qe

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]
