Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

feat: 优化变量引用
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlUtil.java
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/TabulaTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: smc, core, test

feat: CompressUtil初步完成
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
Labels: core

feat: 指摘对应
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
Labels: core

feat: 指摘对应
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
Labels: core

feat: 指摘对应
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
Labels: core

test: Test for CompressUtil
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
  core/src/test/java/com/tlcsdm/core/util/CompressTest.java
Labels: core, test

feat: 优化css样式
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
Labels: frame

feat: 指摘对应
  core/src/test/java/com/tlcsdm/core/util/CompressTest.java
Labels: core, test

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/workflows/maven.yml
  pom.xml
Labels: workflow, dependencies

build: 工作流修改
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
Labels: core

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/workflows/maven.yml
Labels: workflow

build: 工作流修改
  .github/workflows/maven.yml
  pom.xml
Labels: workflow, dependencies

build: 工作流修改
  .github/workflows/maven.yml
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
Labels: frame, workflow

feat(smc): specGeneral对既往版本做兼容
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: smc

fix(core): PathWatchTool国际化错误修复
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns

fix(core): PathWatchTool国际化错误修复 (#760)
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns

fix(core): PathWatchTool国际化错误修复 (#760)
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: core, i18ns

feat(core): Jackson配置优化
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
  core/src/test/java/com/tlcsdm/core/util/User.java
Labels: core, test

test: 测试示例修改
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
Labels: core, test

test: 测试示例修改
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
Labels: core, test

test: 测试示例修改
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
Labels: core, test

test: 测试示例修改
  pom.xml
Labels: dependencies

test: 测试示例修改
  pom.xml
Labels: dependencies

test: 测试示例修改
  core/pom.xml
  pom.xml
Labels: core, dependencies

feat(core): Jackson配置优化 (#761)
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
  core/src/test/java/com/tlcsdm/core/util/User.java
Labels: core, test, dependencies

feat(core): Jackson配置优化 (#761)
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
  core/src/test/java/com/tlcsdm/core/util/User.java
Labels: core, test, dependencies

test: 测试示例修改
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/compress.fxml
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  qe/src/main/resources/com/tlcsdm/qe/static/icon/compress.png
Labels: frame, qe, i18ns

feat: css压缩完成
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/compress.fxml
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
Labels: qe, i18ns

feat: 指摘对应完成
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
Labels: core

feat(qe): js/css压缩 (#755)
  .github/workflows/maven.yml
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlUtil.java
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/CompressTest.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/TabulaTest.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/compress.fxml
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  qe/src/main/resources/com/tlcsdm/qe/static/icon/compress.png
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: frame, smc, core, qe, test, workflow, dependencies, i18ns

feat(qe): js/css压缩 (#755)
  .github/workflows/maven.yml
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlUtil.java
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/CompressTest.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/TabulaTest.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/compress.fxml
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  qe/src/main/resources/com/tlcsdm/qe/static/icon/compress.png
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: frame, smc, core, qe, test, workflow, dependencies, i18ns

feat(smc): girret工具bug修复
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
Labels: smc

feat(smc): 支持保存后打开所在文件夹
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
Labels: smc

build: 更改工作流
  .github/workflows/maven.yml
Labels: workflow

test: StringTokenizer测试类
  core/src/test/java/com/tlcsdm/core/util/StringTokenizerTest.java
Labels: core, test

feat(smc): girret实体类创建
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Change.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Comment.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/CommentRange.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Owner.java
Labels: smc

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]
