Repository unknowIfGuestInDream/javafxTool, changes with the labels that .github/labeler.yml gives for each.
All labels: demo, frame, login, smc, core, qe, common, test, workflow, documentation, dependencies, i18ns

test: modify demo for fxml
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.css
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.fxml
Labels: qe

[CodeFactor] Apply fixes to commit cb3cc84
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.css
Labels: qe

test: modify demo for fxml (#652)
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.css
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.fxml
Labels: qe

test: modify demo for fxml (#652)
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.css
  qe/src/main/resources/com/tlcsdm/qe/fxml/light.fxml
Labels: qe

build: Add sonar workflow
  pom.xml
Labels: dependencies

build: update workflow
  .github/workflows/maven.yml
  pom.xml
Labels: workflow, dependencies

feat: DragScene
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/util/DragScene.java
Labels: frame

feat: 新增Order注解
  core/src/main/java/com/tlcsdm/core/factory/config/ThreadPoolTaskExecutor.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/CaffeineTest.java
Labels: core, test

feat: 新增Order注解 (#660)
  core/src/main/java/com/tlcsdm/core/factory/config/ThreadPoolTaskExecutor.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/CaffeineTest.java
Labels: core, test

feat: 新增Order注解 (#660)
  core/src/main/java/com/tlcsdm/core/factory/config/ThreadPoolTaskExecutor.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/CaffeineTest.java
Labels: core, test

feat: DragScene
  frame/src/main/java/com/tlcsdm/frame/util/DragScene.java
Labels: frame

docs: 修改依赖信息记录
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: core, documentation

docs: Update DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
Labels: core

docs: Update DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
Labels: core

docs: Update DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
Labels: core

feat(core): Add EventBus
  core/src/main/java/com/tlcsdm/core/eventbus/AsyncEventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/EventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
  core/src/main/java/com/tlcsdm/core/eventbus/Subscribe.java
  core/src/main/java/com/tlcsdm/core/javafx/service/PathWatchToolService.java
  core/src/main/java/module-info.java
Labels: core

feat: Add unregister method
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
Labels: core

feat: Add ApplicationEvent
  core/src/main/java/com/tlcsdm/core/event/ApplicationEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationFailedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationPreparedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationReadyEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationStartingEvent.java
  core/src/main/java/module-info.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(core): Add EventBus (#664)
  core/src/main/java/com/tlcsdm/core/event/ApplicationEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationFailedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationPreparedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationReadyEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationStartingEvent.java
  core/src/main/java/com/tlcsdm/core/eventbus/AsyncEventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/EventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
  core/src/main/java/com/tlcsdm/core/eventbus/Subscribe.java
  core/src/main/java/com/tlcsdm/core/javafx/service/PathWatchToolService.java
  core/src/main/java/module-info.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

feat(core): Add EventBus (#664)
  core/src/main/java/com/tlcsdm/core/event/ApplicationEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationFailedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationPreparedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationReadyEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationStartingEvent.java
  core/src/main/java/com/tlcsdm/core/eventbus/AsyncEventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/EventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
  core/src/main/java/com/tlcsdm/core/eventbus/Subscribe.java
  core/src/main/java/com/tlcsdm/core/javafx/service/PathWatchToolService.java
  core/src/main/java/module-info.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: frame, core

docs: Add docs
  core/src/main/java/com/tlcsdm/core/event/ApplicationEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationFailedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationPreparedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationReadyEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationStartingEvent.java
  core/src/main/java/com/tlcsdm/core/eventbus/AsyncEventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/EventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
  core/src/main/java/com/tlcsdm/core/eventbus/Subscribe.java
Labels: core

docs: Add docs (#665)
  core/src/main/java/com/tlcsdm/core/event/ApplicationEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationFailedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationPreparedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationReadyEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationStartingEvent.java
  core/src/main/java/com/tlcsdm/core/eventbus/AsyncEventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/EventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
  core/src/main/java/com/tlcsdm/core/eventbus/Subscribe.java
Labels: core

docs: Add docs (#665)
  core/src/main/java/com/tlcsdm/core/event/ApplicationEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationFailedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationPreparedEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationReadyEvent.java
  core/src/main/java/com/tlcsdm/core/event/ApplicationStartingEvent.java
  core/src/main/java/com/tlcsdm/core/eventbus/AsyncEventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/EventBus.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverAction.java
  core/src/main/java/com/tlcsdm/core/eventbus/ObserverRegister.java
  core/src/main/java/com/tlcsdm/core/eventbus/Subscribe.java
Labels: core

feat(core): Add LicenseDialog
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe

feat(core): Add LicenseDialog (#666)
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe

feat(core): Add LicenseDialog (#666)
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: smc, core, qe

feat: Add groovy support
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/groovy/test.groovy
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.core.groovy.GroovyLoaderService
  qe/src/main/resources/com/tlcsdm/qe/static/groovy/test.groovy
Labels: core, qe, dependencies

feat: 优化groovy
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/javafx/util/ConfigureUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
Labels: core

feat: groovy新增沙盒检查
  core/src/main/java/com/tlcsdm/core/exception/GroovyCompilationErrorsException.java
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  qe/src/main/resources/com/tlcsdm/qe/static/groovy/test.groovy
Labels: core, qe

feat: GroovyUtil新增run方法
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
Labels: core

feat: 修改脚本
  qe/src/main/resources/com/tlcsdm/qe/static/groovy/test.groovy
Labels: qe

feat: 修改脚本
  qe/src/main/resources/com/tlcsdm/qe/static/groovy/test.groovy
Labels: qe

feat: 优化加载类
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
Labels: core, qe

feat: Add test
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
Labels: qe

feat: 优化加载类 (#669)
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
Labels: core, qe

feat: 修改脚本
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/resources/com/tlcsdm/core/groovy/SimpleHttpServer.groovy
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
Labels: core, qe

feat: Add ShadowScrollPane
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
Labels: core

feat: Add ShadowScrollPane
  core/src/main/resources/com/tlcsdm/core/groovy/test.groovy
Labels: core

feat: Add groovy support (#668)
  core/src/main/java/com/tlcsdm/core/exception/GroovyCompilationErrorsException.java
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
  core/src/main/java/com/tlcsdm/core/javafx/util/ConfigureUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/groovy/SimpleHttpServer.groovy
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.core.groovy.GroovyLoaderService
  qe/src/main/resources/com/tlcsdm/qe/static/groovy/test.groovy
Labels: core, qe, dependencies

feat: Add groovy support (#668)
  core/src/main/java/com/tlcsdm/core/exception/GroovyCompilationErrorsException.java
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
  core/src/main/java/com/tlcsdm/core/javafx/util/ConfigureUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/groovy/SimpleHttpServer.groovy
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.core.groovy.GroovyLoaderService
  qe/src/main/resources/com/tlcsdm/qe/static/groovy/test.groovy
Labels: core, qe, dependencies

.github/labeler.yml:

demo:
  - demo/**

frame:
  - frame/**

login:
  - login/**

smc:
  - smc/**

core:
  - core/**

qe:
  - qe/**

common:
  - common/**

test:
  - smc/src/test/**
  - core/src/test/**
  - qe/src/test/**
  - common/src/test/**

workflow:
  - .github/**

documentation:
  - CHANGELOG.md
  - LICENSE
  - README.md
  - README_zh.md
  - README_jp.md
  - docs/**

dependencies:
  - pom.xml
  - demo/pom.xml
  - frame/pom.xml
  - login/pom.xml
  - smc/pom.xml
  - core/pom.xml
  - qe/pom.xml
  - common/pom.xml

i18ns:
- any: ['**/i18n/*.properties']

automerge:
  - all: [ 'README.md', 'README_zh.md', 'README_jp.md' ]
  - all: [ 'CHANGELOG.md' ]
  - all: [ '.github/**' ]
  - all: [ 'CONTRIBUTORS.md' ]
