Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-04, with the labels that each got.

#429 fix: 修复macos下打开配置文件错误问题
  core/src/main/java/com/tlcsdm/core/javafx/util/ConfigureUtil.java
  demo/src/main/resources/com/tlcsdm/demo/icomoon.ttf
Labels: bug, demo, size/XS, core

#430 feat: 新增jackson依赖以及工具类
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
  core/src/test/java/com/tlcsdm/core/util/UserInfo.java
  pom.xml
Labels: enhancement, dependencies, size/L, core, test

#431 style: 代码规范修改
  core/src/main/java/com/tlcsdm/core/freemarker/template/LowerDirective.java
  core/src/main/java/com/tlcsdm/core/freemarker/template/RepeatDirective.java
  core/src/main/java/com/tlcsdm/core/freemarker/template/UpperDirective.java
  core/src/main/java/com/tlcsdm/core/javafx/control/DoubleSpinner.java
  core/src/main/java/com/tlcsdm/core/javafx/control/FxButton.java
  core/src/main/java/com/tlcsdm/core/javafx/control/FxTextInput.java
  core/src/main/java/com/tlcsdm/core/javafx/control/IntegerSpinner.java
  core/src/main/java/com/tlcsdm/core/javafx/control/NumberSpinner.java
  core/src/main/java/com/tlcsdm/core/javafx/control/NumberTextField.java
  core/src/main/java/com/tlcsdm/core/javafx/control/number_spinner.css
  core/src/main/java/com/tlcsdm/core/javafx/dialog/ExceptionDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxAlerts.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxNotifications.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LogConsoleDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/SystemSettingDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/helper/LayoutHelper.java
  core/src/main/java/com/tlcsdm/core/javafx/helper/MenuHelper.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxmlUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/JavaFxSystemUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/StageUtils.java
  core/src/main/java/com/tlcsdm/core/javafx/util/TooltipUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/FreemarkerUtil.java
  core/src/main/java/com/tlcsdm/core/util/I18nUtils.java
  core/src/main/java/com/tlcsdm/core/util/MoneyToChineseUtil.java
  core/src/main/java/com/tlcsdm/core/util/MultiMap.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  frame/src/main/java/com/tlcsdm/frame/model/Project.java
  frame/src/main/java/com/tlcsdm/frame/model/SampleTree.java
  frame/src/main/java/com/tlcsdm/frame/model/WelcomePage.java
  frame/src/main/java/com/tlcsdm/frame/service/SamplePostProcessorService.java
  frame/src/main/java/com/tlcsdm/frame/util/I18nUtils.java
  frame/src/main/java/com/tlcsdm/frame/util/SampleScanner.java
  login/src/main/java/com/tlcsdm/login/LoginNodes.java
  login/src/main/java/com/tlcsdm/login/util/I18nUtils.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcCenterPanelProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/ExcelColNameCalculator.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/tools/MoneyToChinese.java
  smc/src/main/java/com/tlcsdm/smc/tools/TestTool.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/util/I18nUtils.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: frame, login, smc, style, core, size/XXL

#432 feat: Ecm功能实现
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/FileDiff.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/ecm/c1m.ftl
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/ecm/u2a.ftl
Labels: enhancement, smc, size/XXL

#433 feat: 完善ecm国际化
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/L, i18ns

#434 fix: 修复ecm模板下载失败问题
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: bug, smc, size/S

#437 chore: 移除ttf文件
  demo/src/main/java/com/tlcsdm/demo/samples/HelloGlyphFont.java
  demo/src/main/resources/com/tlcsdm/demo/icomoon.ttf
Labels: demo, size/S, chore

#439 feat: 修改smc菜单栏
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxActionGroup.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/icon/jvm.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/tool.png
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: enhancement, smc, size/M, core, i18ns

#441 feat: 修改ecm脚本
  pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
Labels: enhancement, dependencies, smc, size/S

#443 docs: 完善README.md
  README.md
Labels: documentation, automerge, size/XS

#445 feat: 新增SamplesTreeViewConfiguration接口
  README.md
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/model/SampleTreeViewModel.java
  frame/src/main/java/com/tlcsdm/frame/service/SamplesTreeViewConfiguration.java
  frame/src/main/java/module-info.java
  pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSampleTreeViewConfiguration.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.SamplesTreeViewConfiguration
Labels: documentation, enhancement, dependencies, frame, smc, size/L

#446 feat: ecm脚本修改
  core/pom.xml
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
Labels: enhancement, dependencies, frame, smc, size/L, core, test

#447 feat: 隐藏moneyToChinese组件
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/MoneyToChinese.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: enhancement, smc, size/M

#448 feat: 新增getSampleImageIcon接口
  .github/workflows/codacy-analysis.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven.yml
  demo/src/main/java/com/tlcsdm/demo/ControlsFXSample.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/DefaultTreeViewCellFactory.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcTreeViewCellFactory.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSampleTreeViewConfiguration.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/ExcelColNameCalculator.java
  smc/src/main/java/com/tlcsdm/smc/tools/FileDiff.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/resources/com/tlcsdm/smc/fxsampler/fxsampler.css
  smc/src/main/resources/com/tlcsdm/smc/static/icon/c.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/calculator.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/code.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/code1.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/design.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/diff1.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/ecm.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/folder.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/girret.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/h.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/html.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/test.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/test1.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/tools.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/valid.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/xlsx.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/xml.png
Labels: enhancement, demo, frame, smc, workflow, size/L

#449 chore: update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: workflow, automerge, size/XS, chore

#450 feat: 更改icon
  core/src/main/resources/com/tlcsdm/core/static/icon/console.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/about.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/file.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/language.png
Labels: enhancement, size/XS, core

#451 chore: 修改工作流
  .github/workflows/codacy-analysis.yaml
  .github/workflows/codeql-analysis.yml
Labels: workflow, automerge, size/L

#452 feat: 新增皮肤
  frame/src/main/resources/com/tlcsdm/frame/static/bootstrap3.css
  smc/src/main/java/com/tlcsdm/smc/skin/Bootstrap3Skin.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/resources/com/tlcsdm/smc/fxsampler/mistSilverSkin.css
Labels: enhancement, frame, smc, size/XXL

#453 style: 样式调整
  frame/src/main/resources/com/tlcsdm/frame/static/bootstrap2.css
  frame/src/main/resources/com/tlcsdm/frame/static/nord-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/primer-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/primer-light.css
  smc/src/main/resources/com/tlcsdm/smc/fxsampler/fxsampler.css
Labels: frame, smc, style, size/XXL

#454 style: 样式调整
  .gitattributes
  frame/src/main/resources/com/tlcsdm/frame/static/css/bootstrap2.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/bootstrap3.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  smc/src/main/java/com/tlcsdm/smc/skin/Bootstrap3Skin.java
Labels: frame, smc, style, size/XS

#455 style: 修改control-textarea样式
  smc/src/main/resources/com/tlcsdm/smc/fxsampler/fxsampler.css
Labels: smc, style, size/S

#456 style: icon调整
  core/src/main/resources/com/tlcsdm/core/static/icon/download.png
  core/src/main/resources/com/tlcsdm/core/static/icon/generate.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/feedback.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/help.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/support.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/tool.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/diff.png
  smc/src/main/resources/com/tlcsdm/smc/static/icon/diff1.png
Labels: smc, style, size/XS, core

#457 feat: 完善DMATriggerSourceCode 的bind
  core/src/main/java/com/tlcsdm/core/javafx/bind/CheckBoxSelectedBinding.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/ComboBoxBaseEmptyBinding.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBooleanBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/MultiTextInputControlEmptyBinding.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/TextInputControlEmptyBinding.java
  core/src/main/java/module-info.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/ExcelColNameCalculator.java
  smc/src/main/java/com/tlcsdm/smc/tools/FileDiff.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/tools/MoneyToChinese.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: enhancement, frame, smc, size/XL, core

#460 chore: javafx 17.0.2 -> 17.0.6
  pom.xml
Labels: dependencies, size/XS, chore

#463 chore: Create sync-gitee.yml
  .github/workflows/sync-gitee.yml
Labels: workflow, automerge, size/M, chore

#464 feat: 修改qe样式和icon
  qe/src/main/resources/com/tlcsdm/qe/fxsampler/fxsampler.css
  qe/src/main/resources/com/tlcsdm/qe/fxsampler/qe_256.png
Labels: enhancement, size/XS, qe

#469 chore: 新增RichTextfx
  pom.xml
Labels: dependencies, size/XS, chore

#470 feat: ecm脚本修改
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
Labels: enhancement, smc, size/M, test

#471 style: 样式修改
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
Labels: style, size/XS, i18ns, qe

#472 chore: Create .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: workflow, automerge, size/M, chore

#474 chore: Update codeql.yml
  .github/workflows/codeql.yml
Labels: workflow, automerge, size/XS, chore

#476 feat(qe): 新增Html转义组件，修改icon
  qe/src/main/java/com/tlcsdm/qe/provider/QeCenterPanelProvider.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeConfigurationProvider.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeSamplerProjectProvider.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/HtmlEscape.java
  qe/src/main/resources/com/tlcsdm/qe/fxsampler/qe_256.png
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  qe/src/main/resources/com/tlcsdm/qe/static/icon/html.png
Labels: enhancement, size/XL, i18ns, qe

#477 chore: Update codeql.yml
  .github/workflows/codeql.yml
Labels: workflow, automerge, size/XS, chore

#479 chore: Update codeql.yml
  .github/workflows/codeql.yml
Labels: workflow, automerge, size/XS, chore

#480 style: Update HtmlEscape.java
  qe/src/main/java/com/tlcsdm/qe/tools/HtmlEscape.java
Labels: style, size/S, qe

#481 chore: Update pom.xml
  pom.xml
Labels: dependencies, size/S, chore

#482 chore: Update pom.xml
  pom.xml
Labels: dependencies, size/S, chore

#484 feat(qe): 完善HtmlEscape组件
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  core/src/main/java/com/tlcsdm/core/util/HtmlUtil.java
  qe/src/main/java/com/tlcsdm/qe/tools/HtmlEscape.java
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  qe/src/main/resources/com/tlcsdm/qe/static/icon/decode.png
  qe/src/main/resources/com/tlcsdm/qe/static/icon/encode.png
  smc/src/main/java/com/tlcsdm/smc/tools/ExcelColNameCalculator.java
Labels: enhancement, smc, workflow, size/L, core, i18ns, qe

#485 feat(common): 新增common模块
  .github/labeler.yml
  README.md
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/CommonSample.java
  common/src/main/java/com/tlcsdm/jfxcommon/provider/CommonSamplerProjectProvider.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/TestTool.java
  common/src/main/java/com/tlcsdm/jfxcommon/util/I18nUtils.java
  common/src/main/java/module-info.java
  common/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerProject
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  pom.xml
  qe/src/main/java/com/tlcsdm/qe/config/QeTreeViewCellFactory.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeCenterPanelProvider.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcTreeViewCellFactory.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcCenterPanelProvider.java
Labels: documentation, enhancement, dependencies, smc, workflow, size/XL, i18ns, qe, common

#487 feat(smc): ecm脚本修改
  core/src/main/java/com/tlcsdm/core/javafx/bind/MultiTextInputControlEmptyBinding.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/ecm/c1m.ftl
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/resources/templates/ecm/c1m.ftl
Labels: enhancement, smc, size/L, core, test, i18ns

#491 feat: 新增docs文档
  .gitattributes
  README.md
  docs/.nojekyll
  docs/404.md
  docs/README.md
  docs/_navbar.md
  docs/_sidebar.md
  docs/favicon.ico
  docs/index.html
  docs/lib/countable.js
  docs/lib/docsify-copy-code.min.js
  docs/lib/docsify-pdf-embed.js
  docs/lib/docsify-scroll-to-top.min.js
  docs/lib/docsify-tabs-min.js
  docs/lib/docsify-themeable.min.js
  docs/lib/docsify.min.js
  docs/lib/emoji.min.js
  docs/lib/pdfobject.min.js
  docs/lib/prism-bash.js
  docs/lib/prism-java.js
  docs/lib/prism-javascript.min.js
  docs/lib/search.js
  docs/lib/zoom-image.min.js
  docs/qe/Into.md
  docs/smc/Into.md
  docs/themes/theme-simple-dark.css
  docs/themes/theme-simple.css
Labels: documentation, enhancement, size/XXL

#493 docs: Update README.md
  README.md
Labels: documentation, automerge, size/XS

#494 feat(smc): 集成common模块
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/provider/CommonSamplerProjectProvider.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/ExcelColNameCalculator.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/HtmlEscape.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/TestTool.java
  common/src/main/java/com/tlcsdm/jfxcommon/util/I18nUtils.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/calculator.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/decode.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/diff.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/encode.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/html.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/money.png
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, dependencies, smc, size/XL, i18ns, qe, common

#497 feat: 完善common模块
  common/src/main/java/com/tlcsdm/jfxcommon/provider/CommonSamplerProjectProvider.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
Labels: enhancement, size/S, i18ns, common

#499 feat: 完善ecm u2c
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
  smc/src/test/resources/templates/ecm/u2c.ftl
Labels: enhancement, smc, size/L, test

#500 test: dom4j测试工具
  core/src/main/java/com/tlcsdm/core/util/Dom4jUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/Dom4jTest.java
  core/src/test/resources/util/dom4j/students.xml
  core/src/test/resources/util/dom4j/students_copy.xml
Labels: size/L, core, test

#502 test: jexl测试工具
  core/pom.xml
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/jexl/ArrayTest.java
  core/src/test/java/com/tlcsdm/core/util/jexl/JexlDemo.java
  core/src/test/java/com/tlcsdm/core/util/jexl/JexlTest.java
  core/src/test/java/com/tlcsdm/core/util/jexl/MethodPropertyTest.java
  pom.xml
Labels: dependencies, core, size/XXL, test

#508 docs: Update .gitattributes
  .gitattributes
Labels: documentation, size/XS

#509 feat(core): 新增SimpleHttpServer脚本
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/groovy/SimpleHttpServer.groovy
Labels: enhancement, size/L, core

#511 chore: Update .gitattributes
  .gitattributes
Labels: size/XS, chore

#510 chore: Create .editorconfig
  .editorconfig
Labels: size/S, chore

#512 chore: Update .editorconfig
  .editorconfig
Labels: size/XS, chore

#513 chore: 补充groovy依赖
  core/pom.xml
  core/src/test/resources/groovy/DateDemo.groovy
  pom.xml
Labels: dependencies, size/M, core, test, chore

#514 test: 新增groovy示例
  core/src/test/resources/groovy/ArrayDemo.groovy
  core/src/test/resources/groovy/MapDemo.groovy
Labels: size/M, core, test

#515 test: 新增groovy示例
  core/src/test/resources/groovy/ListDemo.groovy
  core/src/test/resources/groovy/MyTest.groovy
Labels: size/L, core, test

#516 test: ecm u2c测试类
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/ecm/c1m.ftl
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
  smc/src/test/resources/templates/ecm/c1m.ftl
  smc/src/test/resources/templates/ecm/u2c.ftl
Labels: smc, size/L, test

#518 style: 代码样式修改
  demo/src/main/java/com/tlcsdm/demo/samples/spreadsheet/HelloSpreadsheetView2.java
  demo/src/main/java/com/tlcsdm/demo/samples/tableview2/HelloFilteredTableView.java
  demo/src/main/java/com/tlcsdm/demo/samples/tableview2/HelloTableView2.java
Labels: demo, style, size/XS

#522 test: 修改测试脚本
  core/src/test/java/com/tlcsdm/core/util/MyTest.groovy
Labels: size/S, core, test

#523 chore: Update .editorconfig
  .editorconfig
Labels: size/XS, chore

#524 chore: workflow优化
  .github/workflows/codacy.yml
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
Labels: smc, workflow, size/M, chore, qe

#525 test: 测试使能调整
  core/src/test/java/com/tlcsdm/core/util/FxXmlUtilTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/CodeStyleLength120Test.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSU2CTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/GeneralTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/HconvertExcel.java
  smc/src/test/java/com/tlcsdm/smc/tool/PinAssignment.java
  smc/src/test/java/com/tlcsdm/smc/tool/TriggerSourceDTSU2CXmlTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/TriggerSourceXmlTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: smc, size/XL, core, test

#527 test: 修改测试工作流
  .github/workflows/maven.yml
  core/src/test/java/com/tlcsdm/core/util/MyTest.groovy
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyClassLoaderTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/CodeStyleLength120Test.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSU2CTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/GeneralTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/HconvertExcel.java
  smc/src/test/java/com/tlcsdm/smc/tool/PinAssignment.java
  smc/src/test/java/com/tlcsdm/smc/tool/TriggerSourceDTSU2CXmlTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/TriggerSourceXmlTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: smc, workflow, size/L, core, test

#528 test: 测试工作流调整
  .github/workflows/maven.yml
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyClassLoaderTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyScriptEngineTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyShellTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyUtilTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/JSR223Test.java
  core/src/test/java/com/tlcsdm/core/util/jexl/ArrayTest.java
  core/src/test/java/com/tlcsdm/core/util/jexl/JexlDemo.java
  core/src/test/java/com/tlcsdm/core/util/jexl/JexlTest.java
  core/src/test/java/com/tlcsdm/core/util/jexl/MethodPropertyTest.java
Labels: workflow, size/L, core, test

#531 feat: 新增导入导出功能
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlHelper.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxmlUtil.java
  core/src/main/java/com/tlcsdm/core/util/Dom4jUtil.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/com/tlcsdm/core/util/HtmlUtil.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/icon/export.png
  core/src/main/resources/com/tlcsdm/core/static/icon/import.png
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/QeSample.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/SmcSample.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: enhancement, dependencies, smc, size/L, core, i18ns, qe

#533 chore: 修改工作流
  .github/workflows/maven.yml
  core/src/test/java/com/tlcsdm/core/util/AviatorTest.java
  core/src/test/java/com/tlcsdm/core/util/Dom4jTest.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/MoneyToChineseTest.java
  core/src/test/java/com/tlcsdm/core/util/MyTest.groovy
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyClassLoaderTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyScriptEngineTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyShellTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyUtilTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/JSR223Test.java
  core/src/test/java/com/tlcsdm/core/util/jexl/ArrayTest.java
  core/src/test/java/com/tlcsdm/core/util/jexl/JexlDemo.java
  core/src/test/java/com/tlcsdm/core/util/jexl/JexlTest.java
  core/src/test/java/com/tlcsdm/core/util/jexl/MethodPropertyTest.java
  pom.xml
  smc/src/test/java/com/tlcsdm/smc/tool/CodeStyleLength120Test.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSU2CTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/GeneralTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/HconvertExcel.java
  smc/src/test/java/com/tlcsdm/smc/tool/PinAssignment.java
  smc/src/test/java/com/tlcsdm/smc/tool/TriggerSourceDTSU2CXmlTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/TriggerSourceXmlTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: dependencies, smc, workflow, size/XL, core, test, chore
