Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-12, with the labels that each got.

#966 docs: Add docs
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: documentation, size/S, core

#967 bot: Update Contributors File
  CONTRIBUTORS.md
Labels: automerge, size/XS

#973 feat(core): Add tess4j
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/test/java/com/tlcsdm/core/util/Tess4jTest.java
  core/src/test/resources/tess4j/test1.png
  docs/README.md
  pom.xml
Labels: documentation, enhancement, dependencies, size/L, core, test

#978 build: Add idea config
  .github/labeler.yml
  .github/workflows/qodana_code_quality.yml
  .gitignore
  .idea/icon.png
  .idea/jarRepositories.xml
  .idea/vcs.xml
  qodana.yaml
Labels: workflow, size/M, IDEA

#979 build: Update qodana_code_quality.yml
  .github/workflows/qodana_code_quality.yml
Labels: workflow, size/XS

#980 build: Add idea config
  .gitignore
  .idea/copyright/profiles_settings.xml
  .idea/copyright/tlcsdm.xml
Labels: size/XS, IDEA

#899 feat: Add testfx
  .gitignore
  .idea/vcs.xml
  pom.xml
  qe/pom.xml
  qe/src/main/java/module-info.java
  qe/src/test/java/com/tlcsdm/qe/AppHelper.java
  qe/src/test/java/com/tlcsdm/qe/EndToEndTest.java
  qe/src/test/java/com/tlcsdm/qe/FxRobotPlus.java
  qe/src/test/java/com/tlcsdm/qe/TestHelper.java
  qe/src/test/java/com/tlcsdm/qe/tools/ClickableButtonTest_JUnit5AssertJ.java
  qe/src/test/java/com/tlcsdm/qe/tools/OpenTest.java
Labels: enhancement, dependencies, size/XL, test, QE, IDEA

#986 test: Add test
  smc/src/test/java/com/tlcsdm/smc/tool/CompareTest.java
Labels: SMC, size/M, test

#988 build: Add license-maven-plugin
  pom.xml
  smc/pom.xml
Labels: dependencies, SMC, size/M

#990 build: Improve build
  cg/pom.xml
  demo/pom.xml
  pom.xml
  qe/pom.xml
  smc/pom.xml
Labels: dependencies, demo, SMC, size/S, QE, CG

#992 style: style code
  pom.xml
Labels: dependencies, style, size/XS

#993 build: Add jenkins shell
  jenkins/package.sh
  jenkins/test.sh
Labels: size/L, ci

#999 build: Modify jenkins shell
  jenkins/package.sh
Labels: size/XS, ci

#1000 build: Add flatten-maven-plugin
  .gitignore
  cg/pom.xml
  common/pom.xml
  core/pom.xml
  demo/pom.xml
  frame/pom.xml
  jenkins/package.sh
  login/pom.xml
  pom.xml
  qe/pom.xml
  smc/pom.xml
Labels: dependencies, demo, frame, login, SMC, size/L, core, QE, common, CG, ci

#1001 build: Modify MANIFEST.MF
  cg/src/main/resources/META-INF/MANIFEST.MF
  qe/src/main/resources/META-INF/MANIFEST.MF
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: SMC, size/S, QE, CG, release

#1026 style: style code
  cg/src/main/java/com/tlcsdm/cg/provider/CgSamplePostProcessorProvider.java
  frame/src/main/java/com/tlcsdm/frame/model/SampleTree.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeSamplePostProcessorProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSampleTreeViewConfiguration.java
Labels: frame, SMC, style, size/M, QE, CG

#1034 build: Add ciManagement
  pom.xml
Labels: dependencies, size/XS

#1035 build: Modify config
  pom.xml
Labels: dependencies, size/S

#1041 ci: Add issue-deprecated workflow
  .github/workflows/issue-labeled.yml
Labels: workflow, size/S

#1044 ci: Modify maven-resources-plugin
  .idea/runConfigurations/ControlsFXSampler.xml
  cg/pom.xml
  pom.xml
  qe/pom.xml
  smc/pom.xml
Labels: dependencies, SMC, size/M, QE, CG, IDEA

#1048 build: Add asm config
  pom.xml
Labels: dependencies, size/M

#1053 feat: FileDiff优化，用户指定文件名
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
Labels: enhancement, size/M, i18ns, common

#1055 feat: Modify demo Borders
  demo/src/main/java/com/tlcsdm/demo/samples/HelloBorders.java
  demo/src/main/java/module-info.java
  pom.xml
Labels: enhancement, dependencies, demo, size/L

#1061 style: Style code
  cg/src/main/java/com/tlcsdm/cg/provider/CgCenterPanelProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgSamplePostProcessorProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgVersionCheckerProvider.java
  cg/src/main/java/com/tlcsdm/cg/util/CgConstant.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/ExcelColNameCalculator.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/HtmlEscape.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
  core/src/main/java/com/tlcsdm/core/javafx/control/NumberSpinner.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/JavaCodeArea.java
  core/src/main/java/com/tlcsdm/core/javafx/service/PathWatchToolService.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/PdfViewStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxmlUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/JavaFxSystemUtil.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/test/java/com/tlcsdm/core/util/CsvTest.java
  core/src/test/java/com/tlcsdm/core/util/StringTokenizerTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyClassLoaderTest.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptyCenterPanel.java
  frame/src/main/java/com/tlcsdm/frame/model/Project.java
  frame/src/main/java/com/tlcsdm/frame/service/VersionCheckerService.java
  qe/src/main/java/com/tlcsdm/qe/config/QeTreeViewCellFactory.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcTreeViewCellFactory.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Change.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Comment.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/CommentRange.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Owner.java
  smc/src/test/java/com/tlcsdm/smc/tool/CompareTest.java
Labels: frame, SMC, style, size/XL, core, test, QE, common, CG

#1064 feat: Improve get or download result
  .idea/runConfigurations/javafxTool_cg__package_.xml
  .idea/runConfigurations/javafxTool_qe__package_.xml
  .idea/runConfigurations/javafxTool_smc__package_.xml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: enhancement, SMC, size/M, core, i18ns, IDEA

#1066 style: Rename package name
  core/src/main/java/com/tlcsdm/core/modal/VoskModal.java
  core/src/main/java/com/tlcsdm/core/model/VoskModal.java
  core/src/main/java/com/tlcsdm/core/util/VoskUtil.java
  core/src/main/java/module-info.java
Labels: style, size/M, core

#1067 feat: 优化about中链接过长的问题
  cg/src/main/java/com/tlcsdm/cg/provider/CgMenubarConfigrationProvider.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: enhancement, SMC, size/S, core, QE, CG

#1068 feat: Add Keys.UseDevMode and initializeProperties
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: enhancement, frame, size/S, core

#1075 feat(smc): GirretReview适配girret 3.9
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
Labels: enhancement, SMC, size/S

#1079 feat: Support useDevMode
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  core/src/main/java/com/tlcsdm/core/javafx/view/AbstractSystemSettingView.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: enhancement, frame, size/M, core, i18ns

#1080 build: Upgrade sample version
  common/src/main/java/com/tlcsdm/jfxcommon/tools/HtmlEscape.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/util/TooltipUtil.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: SMC, size/M, core, i18ns, QE, common

#1084 feat: Add DSL tool
  .gitignore
  core/src/main/java/com/tlcsdm/core/dsl/DSL.java
  core/src/main/java/com/tlcsdm/core/dsl/commands/DSLCommandType.java
  core/src/main/java/com/tlcsdm/core/dsl/commands/DSLDefinedCommand.java
  core/src/main/java/com/tlcsdm/core/dsl/commands/FunctionRunnable.java
  core/src/main/java/com/tlcsdm/core/dsl/commands/VariableRunnable.java
  core/src/main/java/com/tlcsdm/core/dsl/runtime/DSLRuntime.java
  core/src/main/java/com/tlcsdm/core/dsl/runtime/DSLRuntimeCommand.java
  core/src/main/java/com/tlcsdm/core/dsl/stringvars/OriginalReturnString.java
  core/src/main/java/com/tlcsdm/core/dsl/stringvars/ReturnStringFromKey.java
  core/src/main/java/com/tlcsdm/core/dsl/stringvars/StringVars.java
  core/src/main/java/com/tlcsdm/core/util/SplitUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/dsl/DSLDriverTest.java
  core/src/test/java/com/tlcsdm/core/dsl/ExampleDSL.java
  core/src/test/java/com/tlcsdm/core/dsl/ExampleDSLStrictMode.java
  core/src/test/java/com/tlcsdm/core/dsl/README.md
  core/src/test/java/com/tlcsdm/core/dsl/StringVarsTest.java
  core/src/test/resources/util/dsl/ExampleDSLConfig
Labels: enhancement, core, size/XXL, test

#1085 feat: Add IterateINI for DSL
  core/src/main/java/com/tlcsdm/core/dsl/impl/IterateINI.java
  core/src/main/java/com/tlcsdm/core/dsl/impl/KeyValuePairFound.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/dsl/IterateINITest.java
  core/src/test/resources/util/dsl/example.ini
Labels: enhancement, size/L, core, test

#1087 ci: Update qodana.yaml
  qodana.yaml
Labels: size/S

#1092 build: Improve javadoc
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  pom.xml
Labels: dependencies, frame, size/M

#1093 feat(smc): Improve download action
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
Labels: enhancement, SMC, size/L

#1094 feat(core): Add Borders
  core/src/main/java/com/tlcsdm/core/javafx/control/Borders.java
Labels: enhancement, size/XL, core

#1090 feat: Support h2
  pom.xml
Labels: enhancement, dependencies, size/S

#1097 build: Add jcommander
  pom.xml
Labels: dependencies, size/XS

#1098 feat(frame): Support FullScreen
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_en.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_ja.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_zh.properties
Labels: enhancement, frame, size/M, i18ns

#1099 feat: Add HexDirective
  core/src/main/java/com/tlcsdm/core/freemarker/template/HexDirective.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/HexTest.java
  core/src/test/resources/freemarker/templates/hex.ftl
  core/src/test/resources/freemarker/templates/repeat.ftl
Labels: enhancement, size/L, core, test

#1100 feat(core): Improve TemplateLoaderScanner
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
Labels: enhancement, size/XS, core

#1102 build: Update pom.xml
  pom.xml
Labels: dependencies, size/XS

#1105 build: Upgrade groovy
  pom.xml
Labels: dependencies, size/XS

#1107 feat: Improve freemarker
  core/src/main/java/com/tlcsdm/core/freemarker/FitClassTemplateLoader.java
  demo/pom.xml
Labels: enhancement, dependencies, demo, size/M, core

#1113 ci: Update package.sh
  jenkins/package.sh
Labels: size/XS, ci

#1117 ci: Add vscode config
  .github/labeler.yml
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: workflow, size/L, vscode

#1118 build: Add idea config
  .editorconfig
  .github/labeler.yml
  .github/workflows/linter.yml
  .gitignore
  .idea/artifacts/javafxTool_cg_mac_jar.xml
  .idea/artifacts/javafxTool_cg_win_jar.xml
  .idea/artifacts/javafxTool_qe_mac_jar.xml
  .idea/artifacts/javafxTool_qe_win_jar.xml
  .idea/artifacts/javafxTool_smc_mac_jar.xml
  .idea/artifacts/javafxTool_smc_win_jar.xml
  .idea/codeStyles/Default.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dictionaries
  .idea/fileTemplates/code/I18nized Concatenation.java
  .idea/fileTemplates/code/I18nized Expression.java
  .idea/fileTemplates/includes/File Header.java
  .idea/fileTemplates/internal/AnnotationType.java
  .idea/fileTemplates/internal/Class.java
  .idea/fileTemplates/internal/Enum.java
  .idea/fileTemplates/internal/Interface.java
  .idea/fileTemplates/internal/JavaFXApplication.java
  .idea/fileTemplates/internal/Kotlin Class.kt
  .idea/fileTemplates/internal/Kotlin Enum.kt
  .idea/fileTemplates/internal/Kotlin Interface.kt
  .idea/fileTemplates/internal/Record.java
  .settings/clean.launch
  qodana.yaml
Labels: workflow, size/M, IDEA, eclipse

#1119 ci: Add eclipse config
  .gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .settings/runConfigurations/CgSampler.launch
  .settings/runConfigurations/CommonSampler.launch
  .settings/runConfigurations/ControlsFXSampler.launch
  .settings/runConfigurations/QeSampler.launch
  .settings/runConfigurations/SmcSampler.launch
  .settings/runConfigurations/cg [package].launch
  .settings/runConfigurations/cg package group.launch
  .settings/runConfigurations/javafxTool [clean].launch
  .settings/runConfigurations/javafxTool [install].launch
  .settings/runConfigurations/javafxTool [test].launch
  .settings/runConfigurations/qe [package].launch
  .settings/runConfigurations/qe package group.launch
  .settings/runConfigurations/smc [package].launch
  .settings/runConfigurations/smc package group.launch
Labels: size/L, IDEA, eclipse

#1120 ci: Add idea config
  .idea/jarRepositories.xml
Labels: size/XS, IDEA

#1121 ci: modify config
  .gitattributes
Labels: size/XS

#1124 ci: Modify idea config
  .idea/codeStyles/Default.xml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
Labels: size/XS, IDEA

#1127 feat: Improve logback
  core/src/main/java/com/tlcsdm/core/logging/logback/CoreConfigurator.java
  core/src/main/java/com/tlcsdm/core/logging/logback/CoreJoranConfigurator.java
  core/src/main/java/com/tlcsdm/core/logging/logback/WorkEnvAction.java
  core/src/main/java/com/tlcsdm/core/logging/logback/WorkEnvIfNestedWithinSecondPhaseElementSanityChecker.java
  core/src/main/java/com/tlcsdm/core/logging/logback/WorkEnvModel.java
  core/src/main/java/com/tlcsdm/core/logging/logback/WorkEnvModelHandler.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/module-info.java
  core/src/main/resources/META-INF/services/ch.qos.logback.classic.spi.Configurator
  smc/src/main/resources/logback.xml
Labels: enhancement, SMC, size/L, core

#1122 feat: Add WebViewStage
  .github/workflows/maven.yml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/WebBrowserDialog.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/icon/webBrowser.png
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: enhancement, SMC, workflow, size/L, core, i18ns

#1132 feat: Add chart support
  core/src/main/java/com/tlcsdm/core/javafx/chart/DynamicChart.java
  core/src/main/java/com/tlcsdm/core/javafx/chart/DynamicXYChart.java
  core/src/main/java/com/tlcsdm/core/javafx/chart/LineChartWithMarkers.java
  core/src/main/java/com/tlcsdm/core/javafx/control/LongSpinnerValueFactory.java
  core/src/main/java/com/tlcsdm/core/javafx/control/UnboundedDoubleSpinnerValueFactory.java
  core/src/main/java/com/tlcsdm/core/javafx/util/TextFormatterUtil.java
  core/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
Labels: enhancement, size/XL, core, QE

#1135 feat: Add DataSourceUtil
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/database/DataBaseType.java
  core/src/main/java/com/tlcsdm/core/database/DataSourceUtil.java
  core/src/main/java/com/tlcsdm/core/database/DataSourceUtilFactory.java
  core/src/main/java/com/tlcsdm/core/database/DataSourceUtilTypes.java
  core/src/main/java/com/tlcsdm/core/database/DruidDataSourceUtil.java
  core/src/main/java/com/tlcsdm/core/database/HikariDataSourceUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/ConfigureUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/database/H2Test.java
  pom.xml
  qodana.yaml
Labels: enhancement, dependencies, size/XL, core, test

#1137 fix: fix DefaultEasterEggService close fail
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/service/impl/DefaultEasterEggService.java
Labels: bug, frame, size/S

#1138 feat: Add ProcessUtil
  core/src/main/java/com/tlcsdm/core/util/ProcessUtil.java
Labels: enhancement, size/M, core
