Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-03, with the labels that each got.

#305 feat: 更换smc logo
  smc/src/main/java/com/tlcsdm/smc/SmcConfiguration.java
  smc/src/main/resources/com/tlcsdm/smc/fxsampler/smc_256.png
Labels: enhancement, smc, size/XS

#307 feat: HconvertExcel完成
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/resources/com/tlcsdm/smc/fxsampler/smc_256.png
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/test/java/com/tlcsdm/smc/tool/HconvertExcel.java
Labels: enhancement, smc, size/L, core, test

#308 fix: 功能修复
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
Labels: bug, frame, smc, size/S

#310 test: 新增PropertySheet 测试
  smc/src/main/java/com/tlcsdm/smc/tools/TestTool.java
Labels: smc, size/L, test

#311 test: 组件测试
  smc/src/main/java/com/tlcsdm/smc/tools/TestTool.java
Labels: smc, size/M, test

#312 fix: 修复smc StdtriggerSourceDoc 生成错误
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
Labels: bug, smc, size/XL

#313 feat: 新增闪屏图片功能，优化启动
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SplashScreen.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_en.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_ja.properties
  frame/src/main/resources/com/tlcsdm/frame/i18n/messages_zh.properties
  frame/src/main/resources/com/tlcsdm/frame/static/splash.png
  smc/src/main/java/com/tlcsdm/smc/SmcSplash.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.SplashScreen
  smc/src/main/resources/com/tlcsdm/smc/static/security-low.png
  smc/src/main/resources/com/tlcsdm/smc/static/splash.png
Labels: enhancement, frame, smc, size/L

#316 feat: 新增ProgressStage 加载组件
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/test/resources/freemarker/templates/test1.ftl
  smc/src/main/java/com/tlcsdm/smc/tools/TestTool.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATriggerSourceCode.java
Labels: enhancement, smc, size/L, core, test

#317 fix: 修复日语资源加载错误的问题
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
Labels: bug, smc, size/XS

#318 build: 新增i18ns标签
  .github/labeler.yml
Labels: workflow, automerge, size/XS

#320 fix: 修复smc general #ifndef相关判断
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: bug, smc, size/S

#322 build: 修改ManIFEST.MF信息，修改smc 的发布和版本获取方式
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  pom.xml
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/SmcMenubarConfigration.java
  smc/src/main/java/com/tlcsdm/smc/SmcSample.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: dependencies, smc, size/M, core

#324 feat: 新增列名计算器
  smc/src/main/java/com/tlcsdm/smc/tools/ExcelColNameCalculator.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/L, i18ns

#325 test: DMA triggerSource 相关测试代码
  core/src/main/java/com/tlcsdm/core/annotation/Component.java
  core/src/main/java/com/tlcsdm/core/annotation/Order.java
  core/src/main/java/module-info.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/resources/templates/binding.ftl
  smc/src/test/resources/templates/cgdma.ftl
  smc/src/test/resources/templates/setting.ftl
Labels: smc, size/L, core, test

#326 chore: hutool版本升级到5.8.15, moduleName修改
  core/src/main/java/module-info.java
  frame/src/main/java/module-info.java
  pom.xml
  smc/src/main/java/module-info.java
Labels: dependencies, frame, smc, size/S, core, chore

#330 feat: DmaTriggerSourceCode 组件新增
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
Labels: enhancement, smc, size/L

#331 feat: 组件描述以及README.md完善
  README.md
  demo/src/main/resources/META-INF/MANIFEST.MF
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: documentation, enhancement, demo, smc, size/M, i18ns

#333 feat: dmaTeiggerSourceCode UI完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
Labels: enhancement, smc, size/M

#334 feat: DmaTriggerSourceCode 组件信息完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/L, i18ns

#335 feat: DmaTriggerSourceCode 下载等功能完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/M, i18ns

#336 docs: readme.md の更新
  README.md
Labels: documentation, automerge, size/S

#337 feat: DmaTriggerSourceCode 组件完成
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/L, i18ns

#339 docs: 组件描述完善
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: documentation, smc, size/XS, i18ns

#340 feat: DmaTriggerSourceCode 模板完善
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/setting.ftl
Labels: enhancement, smc, size/XS

#341 feat: DmaTriggerSourceCode 模板完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/L, i18ns

#342 feat: DmaTriggerSourceCode setting完善
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
Labels: enhancement, smc, size/S

#344 feat: Add .gitattributes
  .gitattributes
Labels: enhancement, size/XS

#345 feat: update .gitattributes
  .gitattributes
Labels: enhancement, size/S

#346 chore: Update boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: workflow, size/XS, chore

#347 docs: Rename CONTRIBUTING.md to CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation, size/XS

#348 docs: update mergify
  .mergify.yml
Labels: documentation, size/XS

#349 docs: Rename CODE_OF_CONDUCT.md to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, size/XS

#351 docs: Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation, size/L

#350 docs: Update .mergify.yml
  .mergify.yml
Labels: size/XS

#353 feat: DmaTriggerSourceCode setting完善
  LICENSE
  core/src/main/java/com/tlcsdm/core/util/MultiMap.java
  core/src/test/java/com/tlcsdm/core/util/BiMapTest.java
  core/src/test/java/com/tlcsdm/core/util/CollValueMapTest.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/MultiMapTest.java
  core/src/test/java/com/tlcsdm/core/util/RowKeyTableTest.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/SmcSamplerProject.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: documentation, enhancement, dependencies, smc, size/XL, core, test

#355 chore: workflow changelog update
  .github/workflows/changelog.yml
Labels: workflow, automerge, size/XS, chore

#365 chore: Update javafx to 17.0.2
  pom.xml
Labels: dependencies, size/S, chore

#358 test: ecm测试
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/resources/templates/ecm/u2a.ftl
Labels: smc, size/XL, test

#369 test: 新增ecm测试文件
  smc/src/test/resources/ErrorSource.xlsx
Labels: smc, size/XS, test

#371 feat: FxButton增强，优化specGeneral组件
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/tools/ExcelColNameCalculator.java
  smc/src/main/java/com/tlcsdm/smc/tools/FileDiff.java
  smc/src/main/java/com/tlcsdm/smc/tools/MoneyToChinese.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/resources/META-INF/MANIFEST.MF
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, smc, size/L, core, i18ns

#373 test: 新增github api测试
  smc/src/test/java/com/tlcsdm/smc/tool/tool/GithubApiTest.java
Labels: smc, size/M, test

#374 feat: DmaTriggerSourceCode组件增强
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_grp.ftl
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_trigger.ftl
  smc/src/test/java/com/tlcsdm/smc/tool/tool/GithubApiTest.java
Labels: enhancement, smc, size/L, test

#377 feat: DMATriggerSourceCode修改
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_grp.ftl
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_selRegNum.ftl
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_selSetting.ftl
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_trigger.ftl
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/setting.ftl
Labels: enhancement, smc, size/L

#380 fix: dmaTriggerSourceCode模板完善
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/binding_selRegNum.ftl
Labels: bug, smc, size/S

#381 docs: 修改邮箱
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  core/src/main/java/com/tlcsdm/core/util/DiffHandleUtils.java
Labels: documentation, size/S, core

#391 fix: dmaTriggerSourceCode 修改使能类输入
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/setting.ftl
Labels: bug, smc, size/M, i18ns

#378 feat: 新增日志打印控制台组件
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LogConsoleDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/util/GetScreenUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/TooltipUtil.java
  core/src/main/java/com/tlcsdm/core/logging/logback/ConsoleLogAppender.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/icon/console.png
  smc/src/main/java/com/tlcsdm/smc/SmcMenubarConfigration.java
  smc/src/main/java/com/tlcsdm/smc/tools/TestTool.java
  smc/src/main/resources/logback.xml
Labels: enhancement, smc, size/L, core, i18ns

#394 style: 补充运行日志
  docs/smc/run/favicon.ico
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: documentation, smc, style, size/L

#396 style: 代码格式优化
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LogConsoleDialog.java
  smc/src/test/java/com/tlcsdm/smc/tool/tool/GithubApiTest.java
Labels: smc, style, size/S, core, test

#399 style: 窗口大小调整
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
Labels: frame, style, size/M

#404 fix: DmaTriggerSourceCode 头文件模板新增注释
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/resources/com/tlcsdm/smc/static/templates/smc/dmaTriggerSourceCode/cgdma.ftl
Labels: bug, smc, size/XS

#406 feat: specGeneral 打开输出位置功能增强
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: enhancement, smc, size/M

#379 feat: 新增sample展开规则，初始化ecm组件
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/model/SampleTree.java
  frame/src/main/java/com/tlcsdm/frame/util/SampleFactory.java
  frame/src/main/java/module-info.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/module-info.java
Labels: enhancement, frame, smc, size/XL

#407 chore: Update workflow
  .github/workflows/maven.yml
Labels: workflow, automerge, size/XS, chore

#408 fix: 解决打包为执行文件后项目配置获取不到的问题
  smc/src/main/java/com/tlcsdm/smc/SmcSample.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
Labels: bug, smc, size/S

#412 fix: 修复DtsTriggerSourceDoc 初始值设定的判断问题
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
Labels: bug, smc, size/XS

#415 test: 完善ecm脚本测试
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/resources/templates/ecm/c1m.ftl
  smc/src/test/resources/templates/ecm/u2a.ftl
Labels: smc, size/S, test

#418 feat: 新增sample后置处理
  core/src/main/java/com/tlcsdm/core/exception/SampleDefinitionException.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  demo/src/main/java/module-info.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/service/SamplePostProcessorService.java
  frame/src/main/java/module-info.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.SamplePostProcessorService
Labels: enhancement, demo, frame, smc, size/L, core

#423 style: 代码格式化
  smc/src/main/java/module-info.java
Labels: smc, style, size/S

#426 feat: diff工具增强，新增合并结果功能
  core/src/main/java/com/tlcsdm/core/util/DiffHandleUtils.java
  smc/src/main/java/com/tlcsdm/smc/tools/FileDiff.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/test/java/com/tlcsdm/smc/tool/APIHeaderCommentTest.java
Labels: enhancement, smc, size/XL, core, test, i18ns

#427 docs: 更新资源文件
  core/src/main/resources/com/tlcsdm/core/static/icon/add.png
  core/src/main/resources/com/tlcsdm/core/static/icon/detail.png
  core/src/main/resources/com/tlcsdm/core/static/icon/download.png
  core/src/main/resources/com/tlcsdm/core/static/icon/export.png
  core/src/main/resources/com/tlcsdm/core/static/icon/import.png
  core/src/main/resources/com/tlcsdm/core/static/icon/start.png
  core/src/main/resources/com/tlcsdm/core/static/icon/stop.png
  core/src/main/resources/com/tlcsdm/core/static/icon/view.png
  core/src/main/resources/com/tlcsdm/core/static/menubar/folder.png
Labels: documentation, size/XS, core
