Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-05, with the labels that each got.

#534 feat: TreeViewCellFactory类重构，TreeView功能新增
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlHelper.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/AbstractTreeViewCellFactory.java
  frame/src/main/java/com/tlcsdm/frame/model/DefaultTreeViewCellFactory.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  frame/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/config/QeTreeViewCellFactory.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcTreeViewCellFactory.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
Labels: enhancement, frame, smc, size/L, core, qe

#536 feat: qe新增右键菜单
  qe/src/main/java/com/tlcsdm/qe/config/QeTreeViewCellFactory.java
  smc/src/test/java/com/tlcsdm/smc/tool/tool/GithubApiTest.java
Labels: enhancement, smc, size/S, test, qe

#537 style: 格式化
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
Labels: style, size/S, i18ns, common

#538 test: 修改测试资源文件
  smc/src/test/resources/ErrorSource.xlsx
Labels: smc, size/XS, test

#543 chore: maven版本管理修改
  pom.xml
Labels: dependencies, size/XS, chore

#544 style(qe): 修改样式
  qe/src/main/resources/com/tlcsdm/qe/fxsampler/fxsampler.css
Labels: style, size/S, qe

#545 feat(smc): ecm脚本修改
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: enhancement, smc, size/L, test

#547 feat(smc): girret增强
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
Labels: enhancement, smc, size/L

#548 feat(smc): girret repo条件增强
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
Labels: enhancement, smc, size/M
