Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-06, with the labels that each got.

#554 feat: 线程池uncaughtExceptionHandler属性配置
  core/src/main/java/com/tlcsdm/core/factory/config/ThreadPoolTaskExecutor.java
Labels: enhancement, size/XS, core

#555 style: 静默代码清理
  core/src/main/resources/com/tlcsdm/core/groovy/SimpleHttpServer.groovy
  core/src/test/java/com/tlcsdm/core/util/groovy/GroovyClassLoaderTest.java
  core/src/test/java/com/tlcsdm/core/util/groovy/JSR223Test.java
  core/src/test/resources/groovy/hello2.groovy
  demo/src/main/java/com/tlcsdm/demo/samples/HelloGlyphFont.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloGridView.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloInfoOverlay.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloMaskerPane.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloNotifications.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloPlusMinusSlider.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloPrefixSelection.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloPropertySheet.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloSegmentedBar.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloTaskProgressView.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloValidation.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloWorldMapView.java
  demo/src/main/java/com/tlcsdm/demo/samples/actions/HelloActionGroup.java
  demo/src/main/java/com/tlcsdm/demo/samples/actions/HelloActionProxy.java
  demo/src/main/java/com/tlcsdm/demo/samples/checked/HelloCheckComboBox.java
  demo/src/main/java/com/tlcsdm/demo/samples/checked/HelloCheckTreeView.java
  demo/src/main/java/com/tlcsdm/demo/samples/dialogs/HelloDialogs.java
  demo/src/main/java/com/tlcsdm/demo/samples/spreadsheet/HelloSpreadsheetView.java
  demo/src/main/java/com/tlcsdm/demo/samples/tableview2/HelloFilteredTableView.java
  demo/src/main/java/com/tlcsdm/demo/samples/tableview2/HelloTableView2.java
  docs/lib/docsify-pdf-embed.js
  smc/src/test/java/com/tlcsdm/smc/tool/CodeStyleLength120Test.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/DTSU2CTriggerSourceDocument.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretTest.java
Labels: documentation, demo, smc, style, size/L, core, test

#556 chore: 修改ikonli依赖
  pom.xml
Labels: dependencies, size/XS, chore

#562 feat(qe): 更换qe的logo
  core/pom.xml
  core/src/main/resources/com/tlcsdm/core/static/menubar/document.png
  pom.xml
  qe/src/main/resources/com/tlcsdm/qe/fxsampler/qe_256.png
Labels: enhancement, dependencies, size/S, core, qe
