Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-09, with the labels that each got.

#685 feat: Upgrade pdfbox
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
  pom.xml
Labels: enhancement, size/S

#686 fix(core): 修复CoreUtil.getRootPath()问题
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
Labels: bug, size/S, core

#688 chore: modify preferencesfx
  frame/pom.xml
  pom.xml
Labels: size/S

#687 fix(core): 修复groovy路径扫描错误的问题
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/groovy/GroovyLoaderService.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  qe/src/main/java/com/tlcsdm/qe/config/QeGroovyLoaderProvider.java
  smc/src/main/java/com/tlcsdm/smc/config/SmcGroovyLoaderProvider.java
Labels: bug, smc, size/M, core, qe

#691 feat(smc): ECM重构
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/c1m.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/test.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2a.groovy
  smc/src/main/resources/com/tlcsdm/smc/static/groovy/codeDev/ecm/u2c.groovy
Labels: enhancement, smc, size/XL, core, i18ns

#692 feat(smc): ecm 优化
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: enhancement, smc, size/XS

#678 chore: Add preferencesfx
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/module-info.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/menubar/preferences.png
  docs/README.md
  pom.xml
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: documentation, dependencies, smc, size/L, core, i18ns, chore

#693 docs: 更新README
  README.md
  README_jp.md
  README_zh.md
Labels: documentation, size/XS

#695 build(smc): Prepare for 1.0.7
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc, size/XS

#696 fix(core): 修复groovyCodeArea处理开头版权信息时堆栈溢出问题
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/java-keywords.css
Labels: bug, size/M, core

#697 build: 修改changelog工作流
  .github/workflows/changelog.yml
Labels: size/XS

#698 docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation, size/S

#699 build: 修改工作流令牌
  .github/workflows/automerge.yml
  .github/workflows/contributors.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
  .github/workflows/stale.yml
Labels: workflow, automerge, size/S

#701 fix(core): 修复LicenseDialog样式问题
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
Labels: bug, size/XS, core

#706 feat(core): preference view配置加载功能优化
  core/src/main/java/com/tlcsdm/core/javafx/controller/CoreStorageHandler.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: enhancement, size/M, core, i18ns

#708 feat(core): groovyCodeArea 注释收缩样式
  core/src/main/java/com/tlcsdm/core/javafx/richtext/GroovyCodeArea.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: enhancement, frame, size/S, core

#710 feat(frame): 启动动画支持
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: frame, size/M, qe

#712 fix(frame): 修复启动图片关闭失败的问题
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  pom.xml
Labels: bug, dependencies, frame, size/S

#713 feat(smc): 获取菜单树数据方法重构
  smc/src/main/java/com/tlcsdm/smc/provider/SmcSamplePostProcessorProvider.java
Labels: enhancement, smc, size/M

#715 feat(smc): 修改主题
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/cupertino-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/dracula.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-dark.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/skin/SmcSkin.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_en.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_ja.properties
  smc/src/main/resources/com/tlcsdm/smc/i18n/messages_zh.properties
Labels: enhancement, frame, smc, core, size/XXL, i18ns, qe

#716 build(smc): Prepare for 1.0.8
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: smc, size/S

#717 docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation, automerge, size/M

#719 feat(smc): 修复按钮的国际化问题
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxButtonType.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/LicenseDialog.java
  core/src/main/java/com/tlcsdm/core/javafx/dialog/PathWatchToolDialog.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: enhancement, smc, size/M, core, i18ns, qe

#727 build: Update .mergify.yml
  .mergify.yml
Labels: size/XS

#730 build: Update .mergify.yml
  .mergify.yml
Labels: size/S

#731 feat: 文档修改
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
Labels: documentation, enhancement, size/XS, core

#734 feat(core): 新增ScreenColorPickerHideWindow配置
  .github/workflows/linter.yml
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenColorPickerStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Keys.java
  core/src/main/java/com/tlcsdm/core/javafx/view/SystemSettingView.java
  core/src/main/resources/com/tlcsdm/core/fxml/SystemSetting.fxml
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: enhancement, workflow, size/M, core, i18ns

#735 build: lint工作流修改
  .github/workflows/linter.yml
Labels: workflow, size/XS

#736 build: linter工作流优化
  .github/linters/.markdown-lint.yml
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow, size/L

#737 build: mergify工作流更新
  .github/.mergify.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/linter.yml
Labels: workflow, size/S

#738 build: mergify工作流更新
  .github/linters/sun_checks.xml
  .mergify.yml
Labels: workflow, size/XS

#739 build: suncheck工作流更新
  .github/linters/sun_checks.xml
  .github/workflows/linter.yml
Labels: workflow, automerge, size/S

#740 build: suncheck工作流更新
  .github/linters/sun_checks.xml
Labels: workflow, automerge, size/S

#741 build: mergify工作流更新
  .mergify.yml
Labels: size/S

#742 feat(qe): dali config添加
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
Labels: enhancement, smc, workflow, size/L, core, qe

#747 feat(frame): 增加选择主题接口
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/model/FXSamplerTheme.java
  frame/src/main/java/com/tlcsdm/frame/service/FXSamplerConfiguration.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeConfigurationProvider.java
  qe/src/main/java/com/tlcsdm/qe/skin/QeSkin.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  smc/src/main/java/com/tlcsdm/smc/provider/SmcConfigurationProvider.java
  smc/src/main/java/module-info.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
Labels: enhancement, frame, smc, size/L, qe

#750 feat(frame): 接口权限控制
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/bind/FxBooleanBindingBuilder.java
  core/src/main/java/com/tlcsdm/core/javafx/control/ShadowScrollPane.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractU2XFamilyScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/C1MEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2AEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/U2CEcmScript.java
Labels: enhancement, frame, smc, size/M, core

#752 chore: Add commons-csv
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/test/java/com/tlcsdm/core/util/CsvTest.java
  docs/README.md
  pom.xml
Labels: documentation, dependencies, size/L, core, test, chore

#754 feat(smc): SpecGeneralTest UI使能条件优化
  .github/linters/sun_checks.xml
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: enhancement, smc, workflow, size/S

#757 feat(smc): specGeneral使能条件优化，功能优化
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
Labels: enhancement, smc, size/S

#756 feat: jackson替换hutool-json
  common/src/main/java/module-info.java
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/GithubApiTest.java
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/java/module-info.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/java/module-info.java
Labels: enhancement, dependencies, smc, size/M, core, test, qe, common, Ready-to-Go

#758 chore: 依赖更新
  core/pom.xml
  docs/README.md
  pom.xml
Labels: documentation, dependencies, size/M, core, chore

#759 chore: 依赖更新
  qe/pom.xml
Labels: dependencies, size/XS, chore, qe

#760 fix(core): PathWatchTool国际化错误修复
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
Labels: size/XS

#761 feat(core): Jackson配置优化
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/JacksonTest.java
  core/src/test/java/com/tlcsdm/core/util/User.java
Labels: enhancement, dependencies, size/L, core, test

#755 feat(qe): js/css压缩
  .github/workflows/maven.yml
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/factory/config/GroovyLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/factory/config/TemplateLoaderScanner.java
  core/src/main/java/com/tlcsdm/core/javafx/util/Config.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlUtil.java
  core/src/main/java/com/tlcsdm/core/util/CompressUtil.java
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/GroovyUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/CompressTest.java
  core/src/test/java/com/tlcsdm/core/util/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/TabulaTest.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/cache/SampleCacheFactory.java
  frame/src/main/java/module-info.java
  frame/src/main/resources/com/tlcsdm/frame/static/css/nord-light.css
  frame/src/main/resources/com/tlcsdm/frame/static/css/primer-light.css
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/compress.fxml
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
  qe/src/main/resources/com/tlcsdm/qe/static/icon/compress.png
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/DMATemplateTriggerSourceCode.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/C1MEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2AEcmTest.java
  smc/src/test/java/com/tlcsdm/smc/tool/ecm/U2CEcmTest.java
Labels: enhancement, dependencies, frame, smc, workflow, size/XL, core, test, i18ns, qe, Ready-to-Go

#765 feat(smc): girret工具bug修复
  .github/workflows/maven.yml
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/test/java/com/tlcsdm/core/util/StringTokenizerTest.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  smc/pom.xml
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Change.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Comment.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/CommentRange.java
  smc/src/main/java/com/tlcsdm/smc/tools/girret/Owner.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/java/com/tlcsdm/smc/unitTest/SpecGeneralTest.java
  smc/src/main/java/module-info.java
  smc/src/test/java/com/tlcsdm/smc/tool/GirretParserTest.java
  smc/src/test/resources/girret/changes.json
  smc/src/test/resources/girret/comments.json
Labels: enhancement, dependencies, frame, smc, workflow, core, size/XXL, test

#769 feat(core): ProgressStage增加高斯模糊效果
  core/src/main/java/com/tlcsdm/core/javafx/control/ProgressStage.java
Labels: enhancement, size/XS, core

#772 feat(frame): 优化启动动画时的托盘图标
  core/src/main/java/com/tlcsdm/core/javafx/FxApp.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: enhancement, frame, size/M, core

#777 fix(core): 修复导入设置取消时的异常重启
  core/src/main/java/com/tlcsdm/core/javafx/util/FxXmlHelper.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: bug, smc, size/M, core, qe

#779 feat(frame): 隐藏闪屏的托盘图标
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: enhancement, frame, size/M

#780 feat(frame): 接口重命名
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  frame/src/main/java/com/tlcsdm/frame/model/EmptySample.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
Labels: enhancement, frame, size/S, QE

#781 feat(qe): 更换启动logo
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: enhancement, size/S, QE

#783 fix(frame): 修复mac arm环境下隐藏失败的问题
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: bug, frame, size/XS

#784 feat(qe): 调整动画UI
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: enhancement, size/XS, QE

#787 feat(common): common模块设计修改
  common/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/tools/FileDiff.java
  qe/pom.xml
  smc/pom.xml
Labels: enhancement, dependencies, SMC, size/M, QE, common

#770 feat(qe): 补充compress的说明
  .github/linters/sun_checks.xml
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  qe/src/main/java/com/tlcsdm/qe/tools/Compress.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_en.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_ja.properties
  qe/src/main/resources/com/tlcsdm/qe/i18n/messages_zh.properties
Labels: enhancement, workflow, size/M, core, i18ns, level-high, QE, Ready-to-Go

#790 build: Update maven.yml
  .github/workflows/maven.yml
Labels: workflow, automerge, size/XS

#791 build: 工作流修改
  .github/dependabot.yml
  .github/workflows/maven.yml
Labels: workflow, automerge, size/S

#798 build: 修改工作流
  .github/dependabot.yml
  .github/workflows/stale.yml
Labels: workflow, automerge, size/XS
