Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2023-10, with the labels that each got.

#799 feat(common): 增加DataFormatConvert
  common/src/main/java/com/tlcsdm/jfxcommon/CommonSample.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  common/src/main/java/com/tlcsdm/jfxcommon/tools/MoneyToChinese.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/dataFormatConvert.fxml
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxAction.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FileChooserUtil.java
  pom.xml
  smc/src/main/java/com/tlcsdm/smc/codeDev/DmaTriggerSourceCode.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/DtsTriggerSourceXml.java
  smc/src/main/java/com/tlcsdm/smc/codeDev/ecm/AbstractEcmScript.java
  smc/src/main/java/com/tlcsdm/smc/tools/CodeStyleLength120.java
  smc/src/main/java/com/tlcsdm/smc/tools/GirretReview.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/DtsTriggerSourceDoc.java
  smc/src/main/java/com/tlcsdm/smc/unitDesign/HconvertExcel.java
  smc/src/main/resources/META-INF/services/com.tlcsdm.core.freemarker.TemplateLoaderService
Labels: enhancement, dependencies, SMC, size/L, core, common

#802 build: 工作流修改
  .github/labeler.yml
  .mergify.yml
Labels: workflow, size/S

#801 build: prepare for release
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/META-INF/MANIFEST.MF
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: SMC, size/S, QE, release

#803 docs(changelog): Update release notes
  CHANGELOG.md
Labels: documentation, automerge, size/M

#804 feat(cg): 初始化CG
  .github/labeler.yml
  README.md
  README_jp.md
  README_zh.md
  cg/pom.xml
  cg/src/main/java/com/tlcsdm/cg/CgSample.java
  cg/src/main/java/com/tlcsdm/cg/CgSampler.java
  cg/src/main/java/com/tlcsdm/cg/config/CgTreeViewCellFactory.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgCenterPanelProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgConfigurationProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgMenubarConfigrationProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgSamplePostProcessorProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgSampleTreeViewConfiguration.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgSamplerProjectProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgSplashProvider.java
  cg/src/main/java/com/tlcsdm/cg/provider/CgVersionCheckerProvider.java
  cg/src/main/java/com/tlcsdm/cg/util/CgConstant.java
  cg/src/main/java/com/tlcsdm/cg/util/I18nUtils.java
  cg/src/main/java/module-info.java
  cg/src/main/resources/META-INF/MANIFEST.MF
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.CenterPanelService
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerConfiguration
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.FXSamplerProject
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.MenubarConfigration
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.SamplePostProcessorService
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.SamplesTreeViewConfiguration
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.SplashScreen
  cg/src/main/resources/META-INF/services/com.tlcsdm.frame.service.VersionCheckerService
  cg/src/main/resources/com/tlcsdm/cg/fxsampler/cg.png
  cg/src/main/resources/com/tlcsdm/cg/fxsampler/fxsampler.css
  cg/src/main/resources/com/tlcsdm/cg/i18n/messages_en.properties
  cg/src/main/resources/com/tlcsdm/cg/i18n/messages_ja.properties
  cg/src/main/resources/com/tlcsdm/cg/i18n/messages_zh.properties
  cg/src/main/resources/com/tlcsdm/cg/static/cgTool.png
  cg/src/main/resources/com/tlcsdm/cg/static/cgToolBar.png
  cg/src/main/resources/com/tlcsdm/cg/static/icon/folder.png
  cg/src/main/resources/com/tlcsdm/cg/static/icon/tools.png
  cg/src/main/resources/com/tlcsdm/cg/static/splash.png
  cg/src/main/resources/logback.xml
  cg/src/test/java/com/tlcsdm/cg/Test.java
  docs/_sidebar.md
  docs/cg/Into.md
  docs/index.html
  pom.xml
Labels: documentation, enhancement, dependencies, workflow, size/XXL, test, i18ns, CG, release

#809 build: maven配置修改
  .gitattributes
  pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/dali/MemoryBankController.java
  qe/src/main/java/com/tlcsdm/qe/tools/dali/VariableController.java
  qe/src/main/java/module-info.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/dali/memoryBank.fxml
  qe/src/main/resources/com/tlcsdm/qe/fxml/dali/unsupport.fxml
  qe/src/main/resources/com/tlcsdm/qe/fxml/dali/variable.fxml
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.css
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
Labels: dependencies, size/XXL, QE

#813 feat(qe): DALI UI调整
  core/src/main/java/com/tlcsdm/core/javafx/dialog/FxAlerts.java
  pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/dali/AbstractDaliConfigurationController.java
  qe/src/main/java/com/tlcsdm/qe/tools/dali/MemoryBankController.java
  qe/src/main/java/com/tlcsdm/qe/tools/dali/VariableController.java
  qe/src/main/resources/com/tlcsdm/qe/fxml/dali/memoryBank.fxml
  qe/src/main/resources/com/tlcsdm/qe/fxml/dali/variable.fxml
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.css
  qe/src/main/resources/com/tlcsdm/qe/fxml/daliConfig.fxml
Labels: enhancement, dependencies, core, size/XXL, QE

#817 build: Update maven.yml
  .github/workflows/maven.yml
Labels: workflow, size/XS

#819 build: Update workflow
  .github/labeler.yml
Labels: workflow, size/XS

#828 build: Add swt
  pom.xml
Labels: dependencies, size/S

#830 build: Modify build info
  pom.xml
  smc/pom.xml
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: dependencies, SMC, size/S, release

#823 test: Sample测试
  .github/linters/sun_checks.xml
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
  frame/src/main/java/com/tlcsdm/frame/Sample.java
  frame/src/main/java/com/tlcsdm/frame/SampleBase.java
  qe/src/main/java/com/tlcsdm/qe/tools/DaliDemo.java
Labels: frame, workflow, size/L, test, QE

#833 fix: 修复mac 下动画闪屏后UI未显示的问题
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: bug, frame, size/XS

#835 chore: Add javafx-swt
  pom.xml
Labels: dependencies, size/XS, chore

#832 test: Test for vosk
  .gitignore
  README.md
  README_jp.md
  README_zh.md
  cg/pom.xml
  common/src/main/java/com/tlcsdm/jfxcommon/tools/DataFormatConvert.java
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/modal/VoskModal.java
  core/src/main/java/com/tlcsdm/core/util/AudioUtil.java
  core/src/main/java/com/tlcsdm/core/util/VideoUtil.java
  core/src/main/java/com/tlcsdm/core/util/VoskUtil.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/VideoAndAudioUtilTest.java
  core/src/test/java/com/tlcsdm/core/util/VoskTest.java
  pom.xml
  qe/pom.xml
  smc/pom.xml
Labels: documentation, dependencies, SMC, core, size/XXL, test, QE, common, CG

#842 build: 构建配置修改
  pom.xml
Labels: dependencies, size/XS

#844 build: 修改构建信息
  core/src/main/java/module-info.java
Labels: size/XS, core

#850 build: 修改构建
  cg/pom.xml
  cg/src/main/resources/META-INF/MANIFEST.MF
  common/pom.xml
  core/pom.xml
  demo/pom.xml
  frame/pom.xml
  login/pom.xml
  pom.xml
  qe/pom.xml
  qe/src/main/resources/META-INF/MANIFEST.MF
  smc/pom.xml
  smc/src/main/resources/META-INF/MANIFEST.MF
Labels: dependencies, demo, frame, login, SMC, size/M, core, QE, common, CG, release

#853 build: Update automerge.yml
  .github/workflows/automerge.yml
Labels: workflow, size/XS

#858 build: 构建信息修改
  cg/pom.xml
  pom.xml
  qe/pom.xml
  smc/pom.xml
Labels: dependencies, SMC, size/M, QE, CG

#860 test: fix code
  core/src/test/java/com/tlcsdm/core/util/GitlabApiTest.java
Labels: size/M, test

#868 docs: 文档完善
  .github/workflows/deploy-docs.yml
  docs/_sidebar.md
  docs/index.html
  docs/overview/Env.md
  docs/overview/Into.md
Labels: documentation, workflow, size/M

#871 docs: 文档修改
  cg/src/main/java/com/tlcsdm/cg/util/CgConstant.java
  docs/index.html
  pom.xml
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
Labels: documentation, dependencies, SMC, size/S, QE, CG

#864 feat: simpleHttpServer支持
  cg/pom.xml
  cg/src/main/java/com/tlcsdm/cg/provider/CgMenubarConfigrationProvider.java
  cg/src/main/java/module-info.java
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/httpserver/SimpleHttpServer.java
  core/src/main/java/module-info.java
  docs/_sidebar.md
  docs/overview/Env.md
  pom.xml
  qe/pom.xml
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/module-info.java
Labels: documentation, enhancement, dependencies, size/L, core, QE, CG

#872 docs: 更新favicon.ico
  docs/favicon.ico
Labels: documentation, size/XS

#867 feat(frame): Improve VersionCheckerService
  cg/src/main/java/com/tlcsdm/cg/provider/CgVersionCheckerProvider.java
  cg/src/main/java/com/tlcsdm/cg/util/CgConstant.java
  core/src/main/resources/com/tlcsdm/core/static/icon/release.png
  frame/src/main/java/com/tlcsdm/frame/service/VersionCheckerService.java
  frame/src/main/java/module-info.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeVersionCheckerProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/com/tlcsdm/qe/static/icon/release.png
  smc/src/main/java/com/tlcsdm/smc/provider/SmcVersionCheckerProvider.java
  smc/src/main/resources/com/tlcsdm/smc/static/icon/release.png
Labels: enhancement, frame, SMC, size/L, core, QE, CG

#875 docs: 更新文档
  cg/pom.xml
  common/pom.xml
  core/pom.xml
  docs/README.md
  docs/_sidebar.md
  docs/develop/Interface.md
  docs/develop/Into.md
  docs/develop/Note.md
  docs/develop/Package.md
  docs/images/overview/env/eclipse_import.png
  docs/images/overview/env/eclipse_maven_setting.png
  docs/images/overview/env/idea_maven_setting.png
  docs/index.html
  docs/overview/Changelog.md
  docs/overview/Env.md
  docs/overview/Into.md
  frame/pom.xml
  login/pom.xml
  qe/pom.xml
Labels: documentation, dependencies, frame, login, core, size/XXL, QE, common, CG

#876 feat: 语言切换功能集成
  SECURITY.md
  cg/src/main/java/com/tlcsdm/cg/provider/CgMenubarConfigrationProvider.java
  cg/src/main/java/com/tlcsdm/cg/util/CgConstant.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/ConfigLanguageAction.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxLanguageActionGroup.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/LanguageType.java
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/util/SmcConstant.java
Labels: enhancement, SMC, size/XL, core, QE, CG

#880 docs: Update docs
  docs/README.md
Labels: documentation, size/XS
