Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2024-03, with the labels that each got.

#1362 bot: Update Contributors File
  CONTRIBUTORS.md
Labels: automerge, size/XS

#1368 feat: improve freemarker code
  core/src/main/java/com/tlcsdm/core/freemarker/code/AbstractFreemarkerTemplateFile.java
  core/src/main/java/com/tlcsdm/core/freemarker/code/DefaultFreemarkerTemplate.java
  core/src/main/java/com/tlcsdm/core/freemarker/code/ITemplateFile.java
  core/src/main/java/com/tlcsdm/core/freemarker/directive/HexDirective.java
  core/src/main/java/module-info.java
  core/src/test/resources/freemarker/templates/hex.ftl
  core/src/test/resources/freemarker/templates/regor.ftl
Labels: enhancement, size/L, core, test

#1369 test: Add CodeGenTest
  core/src/main/java/com/tlcsdm/core/util/CoreUtil.java
  core/src/test/java/com/tlcsdm/core/freemarker/CodeGenTest.java
Labels: size/L, core, test

#1370 feat: Add SubmitButton
  core/src/main/java/com/tlcsdm/core/javafx/control/SubmitButton.java
  core/src/test/java/com/tlcsdm/core/javafx/SubmitButtonApp.java
  core/src/test/java/com/tlcsdm/core/javafx/control/SubmitButtonTest.java
Labels: enhancement, size/XL, core, test

#1371 feat: Add UrlEscape
  common/src/main/java/com/tlcsdm/jfxcommon/tools/escape/UrlEscape.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  core/src/main/java/com/tlcsdm/core/javafx/helper/ImageViewHelper.java
  core/src/main/resources/com/tlcsdm/core/static/icon/url.png
  core/src/main/resources/com/tlcsdm/core/static/icon/url@2x.png
Labels: enhancement, size/L, core, i18ns, common

#1379 feat: Add common-email
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  pom.xml
Labels: enhancement, dependencies, size/XS, core

#1387 test: Add ProcessBuilderTest
  core/src/test/java/com/tlcsdm/core/util/ProcessBuilderTest.java
Labels: size/L, core, test

#1388 test: Add ComboBoxListenerTest
  core/src/test/java/com/tlcsdm/core/javafx/ComboBoxListenerApp.java
  core/src/test/java/com/tlcsdm/core/javafx/control/ComboBoxListenerTest.java
Labels: size/L, core, test

#1389 feat: Add DecorationCheckBox
  core/src/main/java/com/tlcsdm/core/javafx/control/DecorationCheckBox.java
  core/src/main/java/com/tlcsdm/core/javafx/control/skin/DecorationCheckBoxSkin.java
  core/src/main/resources/com/tlcsdm/core/static/javafx/control/decorationcheckbox.css
  core/src/test/java/com/tlcsdm/core/javafx/DecorationCheckBoxApp.java
  core/src/test/java/com/tlcsdm/core/javafx/control/DecorationCheckBoxTest.java
Labels: enhancement, size/XL, core, test

#1390 feat: Add IconTool
  .gitignore
  common/src/main/java/com/tlcsdm/jfxcommon/tools/image/IconTool.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/iconTool.fxml
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/static/data/iosAppIcon/Contents.json
Labels: enhancement, size/XL, i18ns, common

#1391 ci: Fix license-maven-plugin build error
  pom.xml
Labels: dependencies, size/XS

#1392 build: Improve pom
  pom.xml
Labels: dependencies, size/XS

#1393 ci: Improve maven-surefire-plugin
  pom.xml
Labels: dependencies, size/XS

#1403 test: Add CSTest
  core/src/test/java/com/tlcsdm/core/util/CSTest.java
  core/src/test/resources/util/sample.mtpj
Labels: core, size/XXL, test

#1405 build: Add commons-codec
  pom.xml
Labels: dependencies, size/S

#1409 build: Add commons-logging
  pom.xml
Labels: dependencies, size/XS

#1415 ci: Improve maven-surefire-plugin
  pom.xml
Labels: dependencies, size/S

#1416 fix: Use reflections instead of classgraph
  cg/src/main/resources/logback.xml
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/factory/config/ThreadPoolTaskExecutor.java
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  core/src/main/java/com/tlcsdm/core/util/InterfaceScanner.java
  core/src/main/java/module-info.java
  docs/README.md
  qe/src/main/resources/logback.xml
  smc/src/main/resources/logback.xml
Labels: bug, documentation, dependencies, SMC, size/M, core, QE, CG

#1417 build: 排除jackson-databind的byte-buddy
  pom.xml
Labels: dependencies, size/XS

#1425 docs: Improve README.md
  README.md
Labels: documentation, automerge, size/XS

#1428 docs: Improve README.md
  README.md
Labels: documentation, automerge, size/XS

#1435 ci: Create log-parser-rules
  jenkins/log-parser-rules
Labels: size/S, ci

#1436 docs: Update README.md
  docs/README.md
Labels: documentation, size/XS

#1439 feat: Add RegexTester
  common/src/main/java/com/tlcsdm/jfxcommon/code/RegexTester.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/regexTester.fxml
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/static/data/regexAbout.html
  common/src/main/resources/com/tlcsdm/jfxcommon/static/data/regexData.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/regex.png
  common/src/main/resources/com/tlcsdm/jfxcommon/static/icon/regex@2x.png
Labels: enhancement, size/XXL, i18ns, common

#1445 ci: Create CODEOWNERS
  .github/CODEOWNERS
Labels: workflow, size/M

#1448 feat: Add impsort-maven-plugin
  .gitignore
  common/src/main/java/com/tlcsdm/jfxcommon/tools/image/IconTool.java
  core/src/main/java/com/tlcsdm/core/database/DataSourceUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/control/NumberSpinner.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/PdfViewStage.java
  core/src/main/java/com/tlcsdm/core/javafx/util/FileChooserUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/ImageUtil.java
  core/src/main/java/com/tlcsdm/core/javafx/util/ImgToolUtil.java
  core/src/main/java/com/tlcsdm/core/logging/logback/WorkEnvAction.java
  core/src/main/java/com/tlcsdm/core/util/VoskUtil.java
  core/src/test/java/com/tlcsdm/core/freemarker/FreemarkerTest.java
  core/src/test/java/com/tlcsdm/core/util/CSTest.java
  core/src/test/java/com/tlcsdm/core/util/CaffeineTest.java
  core/src/test/java/com/tlcsdm/core/util/CryptoTest.java
  core/src/test/java/com/tlcsdm/core/util/PdfboxTest.java
  core/src/test/java/com/tlcsdm/core/util/Zip4jTest.java
  demo/src/main/java/com/tlcsdm/demo/samples/HelloBorders.java
  demo/src/main/java/com/tlcsdm/demo/samples/spreadsheet/HelloSpreadsheetView.java
  demo/src/main/java/com/tlcsdm/demo/samples/spreadsheet/HelloSpreadsheetView2.java
  pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/FxmlDemo.java
  qe/src/main/java/com/tlcsdm/qe/tools/TestTool.java
Labels: enhancement, dependencies, demo, size/L, core, test, QE, common

#1453 feat: Improve iconTool
  common/src/main/java/com/tlcsdm/jfxcommon/tools/image/IconTool.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/iconTool.fxml
Labels: enhancement, size/XS, common

#1454 test: Improve test
  core/src/test/java/com/tlcsdm/core/util/CSTest.java
  core/src/test/java/com/tlcsdm/core/util/YuiCompressTest.java
Labels: size/S, core, test

#1455 build: Add maven-eclipse-plugin
  jenkins/eclipse/Refine.style.xml
  jenkins/eclipse/org.eclipse.jdt.core.prefs
  jenkins/eclipse/org.eclipse.jdt.ui.prefs
  pom.xml
Labels: dependencies, size/XL, ci
