Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2024-09, with the labels that each got.

#1687 bot: Update Contributors File
  CONTRIBUTORS.md
Labels: automerge, size/XS

#1688 ci: Update maven.yml
  .github/workflows/maven.yml
Labels: workflow, size/XS

#1690 fix: 修复升级javadoc的生成路径修改问题
  .github/workflows/maven.yml
  pom.xml
Labels: bug, dependencies, workflow, size/XS

#1696 feat: Add ListImageView
  core/src/main/java/com/tlcsdm/core/javafx/control/ListImageView.java
  core/src/main/java/com/tlcsdm/core/javafx/control/skin/ListImageViewSkin.java
  core/src/test/java/com/tlcsdm/core/javafx/ListImageViewApp.java
  core/src/test/java/com/tlcsdm/core/javafx/control/ListImageViewTest.java
Labels: enhancement, size/L, core, test

#1678 feat: Add PlutoExplorer for zoom image
  core/src/main/java/com/tlcsdm/core/javafx/control/PlutoExplorer.java
  core/src/main/java/com/tlcsdm/core/javafx/control/PlutoExplorerExtended.java
Labels: enhancement, size/XL, core

#1701 feat: Upgrade javadoc
  .github/workflows/artifact.yml
  jenkins/package.sh
  pom.xml
Labels: enhancement, dependencies, workflow, size/S, ci

#1711 test: Improve ZoomImageView test case
  core/src/main/java/com/tlcsdm/core/javafx/control/ZoomImageView.java
Labels: size/XS, core, test

#1712 feat: Disable EasterEgg in MAC
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  frame/src/main/java/com/tlcsdm/frame/FXSampler.java
Labels: enhancement, frame, size/S, core

#1713 feat: Add jSerialComm
  core/pom.xml
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/util/JSerialCommTest.java
  pom.xml
Labels: enhancement, dependencies, size/L, core, test
