Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2025-05, with the labels that each got.

#2115 bot: Update Contributors File
  CONTRIBUTORS.md
Labels: automerge, size/XS

#2116 fix(core): beanutils升级后兼容问题
  core/pom.xml
  core/src/main/java/module-info.java
  pom.xml
Labels: bug, dependencies, size/S, core, dependency-submission

#2117 build: Improve maven-checkstyle-plugin
  pom.xml
Labels: dependencies, size/XS, dependency-submission

#2118 ci: Add check-commits action
  .github/workflows/CheckBadMerge.groovy
  .github/workflows/check-commits.yml
Labels: workflow, size/L

#2122 feat(core): Add watermark 实现
  core/src/main/java/com/tlcsdm/core/watermark/LSBWatermark.java
  core/src/test/java/com/tlcsdm/core/watermark/InvisibleWatermarkTest.java
  core/src/test/resources/watermark/originBig.jpg
  core/src/test/resources/watermark/originSmall.png
Labels: enhancement, size/L, core, test

#2123 feat(core): Add deepseek support
  core/pom.xml
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatCompletionChoice.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatCompletionDelta.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatCompletionRequest.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatCompletionResponse.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatCompletionStreamChoice.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatCompletionStreamResponse.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/ChatMessage.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/DeepSeekApiException.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/DeepSeekChatClient.java
  core/src/main/java/com/tlcsdm/core/ai/deepseek/Usage.java
  core/src/main/java/module-info.java
  core/src/test/java/com/tlcsdm/core/ai/DeepseekTest.java
Labels: enhancement, dependencies, core, size/XXL, test, dependency-submission

#2126 ci: 新增对dependabot的阿里云依赖检查
  .github/workflows/check-aliyun-maven.yml
Labels: workflow, size/L

#2127 ci: 修复工作流问题
  .github/workflows/check-aliyun-maven.yml
Labels: size/XS

#2128 ci: 修复工作流问题
  .github/workflows/check-aliyun-maven.yml
Labels: size/XS

#2129 build: 支持打包zip产物
  README.md
  README_jp.md
  README_zh.md
  qe/config/zip.xml
  qe/pom.xml
  smc/config/zip.xml
  smc/pom.xml
Labels: documentation, dependencies, SMC, size/L, QE, dependency-submission

#2130 feat(core): 支持JDK Tool ActionGroup
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxActionGroup.java
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxJDKToolActionGroup.java
  core/src/main/resources/com/tlcsdm/core/i18n/messages_en.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_ja.properties
  core/src/main/resources/com/tlcsdm/core/i18n/messages_zh.properties
  core/src/main/resources/com/tlcsdm/core/static/icon/jmc.png
  core/src/main/resources/com/tlcsdm/core/static/icon/jmc@2x.png
  core/src/main/resources/com/tlcsdm/core/static/icon/jshell.png
  core/src/main/resources/com/tlcsdm/core/static/icon/jshell@2x.png
  core/src/main/resources/com/tlcsdm/core/static/icon/jvisualvm.png
  core/src/main/resources/com/tlcsdm/core/static/icon/jvisualvm@2x.png
  qe/src/main/java/com/tlcsdm/qe/provider/QeMenubarConfigrationProvider.java
  smc/src/main/java/com/tlcsdm/smc/provider/SmcMenubarConfigrationProvider.java
Labels: enhancement, SMC, size/L, core, i18ns, QE

#2132 fix: Fix FxJDKTool run error in Mac
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxJDKToolActionGroup.java
Labels: bug, size/XS, core

#2133 fix: Fix stage hidden action In Mac Arm
  core/src/main/java/com/tlcsdm/core/javafx/controller/PreferencesView.java
  core/src/main/java/com/tlcsdm/core/javafx/controller/SystemSettingController.java
  core/src/main/java/com/tlcsdm/core/javafx/stage/ScreenshotStage.java
Labels: bug, size/M, core

#2134 test(core): Add oshi 测试case
  .github/workflows/check-aliyun-maven.yml
  core/src/test/java/com/tlcsdm/core/oshi/OshiTest.java
  core/src/test/java/com/tlcsdm/core/oshi/OshiUtilTest.java
Labels: workflow, size/L, core, test

#2139 fix(qe): 修复SkipBootAnimation 初始值异常
  qe/src/main/java/com/tlcsdm/qe/provider/QeSplashProvider.java
Labels: bug, size/XS, QE

#2140 docs: 更新开源依赖引用列表
  .idea/dictionaries
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  docs/README.md
  docs/_sidebar.md
  docs/cg/Into.md
  docs/develop/Interface.md
  docs/develop/Into.md
Labels: documentation, size/M, core, IDEA

#2142 feat(common): Add HttpTool
  common/src/main/java/com/tlcsdm/jfxcommon/debug/HttpTool.java
  common/src/main/java/com/tlcsdm/jfxcommon/debug/ScanPortTool.java
  common/src/main/java/module-info.java
  common/src/main/resources/com/tlcsdm/jfxcommon/fxml/httpTool.fxml
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
  core/src/main/java/com/tlcsdm/core/javafx/controlsfx/FxJDKToolActionGroup.java
  core/src/main/java/com/tlcsdm/core/javafx/helper/ImageViewHelper.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/InformationArea.java
  core/src/main/java/com/tlcsdm/core/javafx/richtext/JsonCodeArea.java
  core/src/main/java/com/tlcsdm/core/util/DependencyUtil.java
  core/src/main/java/com/tlcsdm/core/util/HttpUtil.java
  core/src/main/java/com/tlcsdm/core/util/JacksonUtil.java
  core/src/main/resources/com/tlcsdm/core/static/icon/http.png
  core/src/main/resources/com/tlcsdm/core/static/icon/http@2x.png
  core/src/main/resources/com/tlcsdm/core/static/javafx/richtext/json-keywords.css
Labels: enhancement, size/XL, core, i18ns, common

#2141 docs: Improve docs
  README.md
  README_jp.md
  README_zh.md
  core/src/main/java/com/tlcsdm/core/util/CoreConstant.java
  docs/README.md
  docs/_sidebar.md
  docs/common/Into.md
  docs/develop/Note.md
  docs/develop/Package.md
  docs/index.html
  docs/overview/Env.md
  docs/overview/Into.md
  docs/smc/Into.md
  jenkins/jre.sh
Labels: documentation, size/L, core, ci

#2138 feat(qe): Improve SerialPortTool
  .idea/artifacts/javafxTool_qe_mac_jar.xml
  .idea/artifacts/javafxTool_qe_win_jar.xml
  core/src/main/java/com/tlcsdm/core/util/DependencyInfo.java
  qe/src/main/java/com/tlcsdm/qe/tools/SerialPortTool.java
  qe/src/main/java/com/tlcsdm/qe/util/QeConstant.java
  qe/src/main/resources/META-INF/MANIFEST.MF
  qe/src/main/resources/com/tlcsdm/qe/fxml/serialPortTool.fxml
Labels: enhancement, size/L, core, QE, release, IDEA

#2143 docs(changelog): Update release notes
  CHANGELOG.md
  docs/overview/Changelog.md
Labels: documentation, size/L

#2146 fix(common): 修改TableView无数据时的显示文本
  common/src/main/java/com/tlcsdm/jfxcommon/debug/HttpTool.java
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_en.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_ja.properties
  common/src/main/resources/com/tlcsdm/jfxcommon/i18n/messages_zh.properties
Labels: bug, size/XS, i18ns, common

#2161 test: Add sqlite3 test
  core/pom.xml
  core/src/test/java/com/tlcsdm/core/database/Sqlite1Test.java
  core/src/test/java/com/tlcsdm/core/database/Sqlite2Test.java
  core/src/test/java/com/tlcsdm/core/database/SqliteAccountTest.java
  core/src/test/java/com/tlcsdm/core/database/SqliteInitSQLTest.java
  core/src/test/java/com/tlcsdm/core/database/SqliteMemoryTest.java
  core/src/test/java/com/tlcsdm/core/database/SqliteShareMemoryTest.java
  core/src/test/java/com/tlcsdm/core/database/sqlite/UserDao.java
  core/src/test/resources/database/init.sql
  pom.xml
Labels: dependencies, size/XL, core, test, dependency-submission
