Repository unknowIfGuestInDream/javafxTool, pull requests merged in 2025-04, with the labels that each got.

#2048 bot: Update Contributors File
  CONTRIBUTORS.md
Labels: automerge, size/XS

#2066 ci: Add action-languagetool check
  .github/workflows/languagetool.yaml
Labels: workflow, size/M

#2067 ci: Add dependency-review-action check
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Labels: workflow, size/S

#2070 test: Add qrcodegen
  core/pom.xml
  core/src/test/java/com/tlcsdm/core/powershell/PowerShellTest.java
  core/src/test/java/com/tlcsdm/core/util/QrcodegenTest.java
  core/src/test/resources/qrcodegen/empty
  pom.xml
Labels: dependencies, size/L, core, test, dependency-submission

#2088 build: Update pom.xml
  pom.xml
Labels: dependencies, size/XS, dependency-submission

#2091 build: Update pom.xml
  pom.xml
Labels: size/S

#2095 ci: Update artifact.yml
  .github/workflows/artifact.yml
Labels: workflow, size/XS

#2103 ci: Update Jenkinsfile
  Jenkinsfile
Labels: size/XS

#2104 ci: Improve CI
  core/src/main/java/com/tlcsdm/core/concurrent/WeakConcurrentMap.java
  core/src/main/java/com/tlcsdm/core/concurrent/WeakConcurrentSet.java
  core/src/main/java/com/tlcsdm/core/util/picHider/Decoder.java
  core/src/main/java/com/tlcsdm/core/util/picHider/Encoder.java
  core/src/main/java/com/tlcsdm/core/util/picHider/SecureEncoder.java
  core/src/test/java/com/tlcsdm/core/javafx/ExplicitContentTest.java
  core/src/test/java/com/tlcsdm/core/javafx/ImplicitContentTest.java
  core/src/test/java/com/tlcsdm/core/powershell/PowerShellTest.java
  core/src/test/java/com/tlcsdm/core/util/JaxbTest.java
  core/src/test/java/com/tlcsdm/core/util/JnaTest.java
  core/src/test/java/com/tlcsdm/core/util/PicHiderTest.java
  core/src/test/java/com/tlcsdm/core/util/QrcodegenTest.java
  core/src/test/java/com/tlcsdm/core/util/nashorn/NashornDemoTest.java
  core/src/test/java/com/tlcsdm/core/util/nashorn/StartNashornTest.java
  pom.xml
  qe/src/main/java/com/tlcsdm/qe/tools/RcpIconTool.java
  qe/src/test/java/com/tlcsdm/qe/tools/IconCreatorTest.java
  qe/src/test/java/com/tlcsdm/qe/tools/OpenTest.java
Labels: dependencies, size/L, core, test, QE, dependency-submission
